//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

// Clearfix

@mixin clearfix {
  clear: both;
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// Calculate

@mixin calc( $property, $expression ) {
  #{$property}: -moz-calc( #{$expression} );
  #{$property}: -webkit-calc( #{$expression} );
  #{$property}: calc( #{$expression} );
}

// Vertical Center

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-center-reset {
  position: relative;
  top: unset;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

// Background Cover

@mixin background-gradient ( $direction: top, $first_colour: #fff, $second_colour: #000 ) {
  background: -webkit-linear-gradient( $direction, $first_colour, $second_colour );
  background: -moz-linear-gradient( $direction, $first_colour, $second_colour );
  background: -ms-linear-gradient( $direction, $first_colour, $second_colour );
  background: -o-linear-gradient( $direction, $first_colour, $second_colour );
  background: linear-gradient( $direction, $first_colour, $second_colour );
}

@mixin background-cover {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin background ( $size: cover ) {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

// Box Shadow
@mixin box-shadow ( $top, $left, $blur, $spread, $color, $inset: false ) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $spread $color;
    -moz-box-shadow: inset $top $left $blur $spread $color;
    box-shadow: inset $top $left $blur $spread $color;
  } @else {
      -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin box-shadow-reset( $important: false ) {
  @if $important {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  } @else {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

// Animations
@mixin keyframes ( $animation-name ) {
  @-webkit-keyframes #{$animation-name} { @content; }
  @-moz-keyframes #{$animation-name} { @content; }
  @-ms-keyframes #{$animation-name} { @content; }
  @-o-keyframes #{$animation-name} { @content; }
  @keyframes #{$animation-name} { @content; }
}

@mixin animation ( $str ) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// Placeholder Text
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

//////////////////////////////////////////////////////////
////  UI/UX | Breakpoints
//////////////////////////////////////////////////////////

@mixin breakpoint( $size ) {

  @if $size == sm {
	  @media (min-width: map-get( $grid-breakpoints, sm )) { @content; }
  }

  @else if $size == md {
    @media (min-width: map-get( $grid-breakpoints, md )) { @content; }
  }

  @else if $size == lg {
    @media (min-width: map-get( $grid-breakpoints, lg )) { @content; }
  }

  @else if $size == xl {
    @media (min-width: map-get( $grid-breakpoints, xl )) { @content; }
  }

  @else if $size == xxl {
    @media (min-width: map-get( $grid-breakpoints, xxl )) { @content; }
  }

}

// Columns

@mixin columns ( $number, $width, $gap: normal ) {
  -webkit-columns: $number $width;
  -moz-columns: $number $width;
  columns: $number $width;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

// Lighten colour
@function lighten( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

// Darken colour
@function darken( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}

@mixin greysacle ( $value ) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter:#{"grayscale(#{$value})"};
}

@mixin brightness ( $value ) {
  -webkit-filter: brightness( $value );
  filter: brightness( $value );
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin buttons {
  $timing: 280ms;
  transition: background $timing,
  border $timing,
  color $timing,
  opacity $timing;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  @include breakpoint(sm) {} // min width sm
  @include breakpoint(md) {} // min width md
  @include breakpoint(lg) {} // min width lg
  @include breakpoint(xl) {} // min width xl
  @include breakpoint(xxl) {} // min width xxl
  &:focus,
  &:hover {}
}

//////////////////////////////////////////////////////////
////  Mixin | Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin body-copy( $font-size-modifier: 1, $line-height: 1.2, $font-weight: normal ) {

  font-size: $theme-body-copy * $font-size-modifier;
  font-weight: $font-weight;
  line-height: $line-height;

  @include breakpoint(sm) {
    font-size: $theme-body-copy--sm * $font-size-modifier;
  } // min width sm

  @include breakpoint(md) {
    font-size: $theme-body-copy--md * $font-size-modifier;
  } // min width md

  @include breakpoint(lg) {
    font-size: $theme-body-copy--lg * $font-size-modifier;
  } // min width lg

  @include breakpoint(xl) {
    font-size: $theme-body-copy--xl * $font-size-modifier;
  } // min width xl

  @include breakpoint(xxl) {
    font-size: $theme-body-copy--xxl * $font-size-modifier;
  } // min width xxl

}
