@use "sass:color";
@use "sass:math";
@use "sass:map";

//////////////////////////////////////////////////////////
////  SCSS | Functions & Mixins
//////////////////////////////////////////////////////////

@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

//////////////////////////////////////////////////////////
////  SCSS | Vars
//////////////////////////////////////////////////////////

// ---------------------------------------- Theme Info
$theme-info: (
  'theme-name': 'Azimuth',
  'theme-uri': 'https://weareverypolite.com',
  'description': 'Azimuth Custom WordPress Theme',
  'author': 'Very Polite Digital Dept.',
  'author-uri': 'https://weareverypolite.com',
  'version': '1.0.0',
  'license': 'GNU General Public License v2 or later',
  'license-uri': 'URI: https://www.gnu.org/licenses/gpl-2.0.html',
  'tags': 'HTML5, CSS3, Responsive, Mobile Friendly',
  'text-domain': 'azimuth',
);

// ---------------------------------------- Border Radius
$theme-border: (
  'radius': 4px,
  'width': 1px,
);

// ---------------------------------------- Button | Font Size
$theme-button-font-sizes: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Button | Height
$theme-button-min-heights: (
  'base': 40px,
  'sm': 42px,
  'md': 44px,
  'lg': 40px,
  'xl': 42px,
  'xxl': 44px
);

// ---------------------------------------- Button | Height
$theme-button-min-widths: (
  'base': 136px,
  'sm': 136px,
  'md': 136px,
  'lg': 116px,
  'xl': 120px,
  'xxl': 124px
);

// ---------------------------------------- Header Height
$theme-header-heights: (
  'base': 85px,
  'sm': 85px,
  'md': 85px,
  'lg': 85px,
  'xl': 85px,
  'xxl': 85px
);

//////////////////////////////////////////////////////////
////  LEGACY
//////////////////////////////////////////////////////////

$theme-gutter: (
  'base' : 10px,
  'mobile' : 24px
);

$theme-gutter--base: map-get( $theme-gutter, 'base' );
$theme-gutter--mobile: map-get( $theme-gutter, 'mobile' );

// ----------------------------------------- Breakpoints

$theme-breakpoint: (
  'sm' : 567px,
  'md' : 768px,
  'lg' : 992px,
  'xl' : 1200px,
  'xxl' : 1400px
);

$theme-breakpoint--sm: map-get( $theme-breakpoint, 'sm' );
$theme-breakpoint--md: map-get( $theme-breakpoint, 'md' );
$theme-breakpoint--lg: map-get( $theme-breakpoint, 'lg' );
$theme-breakpoint--xl: map-get( $theme-breakpoint, 'xl' );
$theme-breakpoint--xxl: map-get( $theme-breakpoint, 'xxl' );

// ----------------------------------------- Call to Action | Circle Sizes

$theme-cta-circle-offset: 8px;

$theme-cta-circle-sizes: (
  'base': 100px,
  'sm': 105px,
  'md': 110px,
  'lg': 120px,
  'xl': 125px,
  'xxl': 130px
);

$theme-cta-circle-size: map-get( $theme-cta-circle-sizes, 'base' );
$theme-cta-circle-size--sm: map-get( $theme-cta-circle-sizes, 'sm' );
$theme-cta-circle-size--md: map-get( $theme-cta-circle-sizes, 'md' );
$theme-cta-circle-size--lg: map-get( $theme-cta-circle-sizes, 'lg' );
$theme-cta-circle-size--xl: map-get( $theme-cta-circle-sizes, 'xl' );
$theme-cta-circle-size--xxl: map-get( $theme-cta-circle-sizes, 'xxl' );

// ----------------------------------------- Container Sizes

$theme-container-sizes: (
  'sm' : 540px,
  'md' : 740px,
  'lg' : 960px,
  'xl' : 1160px,
  'xxl' : 1360px
);

$theme-container--sm: map-get( $theme-container-sizes, 'sm' );
$theme-container--md: map-get( $theme-container-sizes, 'md' );
$theme-container--lg: map-get( $theme-container-sizes, 'lg' );
$theme-container--xl: map-get( $theme-container-sizes, 'xl' );
$theme-container--xxl: map-get( $theme-container-sizes, 'xxl' );

// ----------------------------------------- Header Sizes

$theme-header-sizes: (
  'base': 70px,
  'sm': 70px,
  'md': 76px,
  'lg': 90px,
  'xl': 90px,
  'xxl': 90px
);

$theme-header-height: map-get( $theme-header-sizes, 'base' );
$theme-header-height--sm: map-get( $theme-header-sizes, 'sm' );
$theme-header-height--md: map-get( $theme-header-sizes, 'md' );
$theme-header-height--lg: map-get( $theme-header-sizes, 'lg' );
$theme-header-height--xl: map-get( $theme-header-sizes, 'xl' );
$theme-header-height--xxl: map-get( $theme-header-sizes, 'xxl' );

// ----------------------------------------- Theme Padding

$theme-padding-sizes: (
  'base': 10px,
  'sm': 10px,
  'md': 20px,
  'lg': 32px,
  'xl': 50px,
  'xxl': 50px
);

$theme-padding: map-get( $theme-padding-sizes, 'base' );
$theme-padding--sm: map-get( $theme-padding-sizes, 'sm' );
$theme-padding--md: map-get( $theme-padding-sizes, 'md' );
$theme-padding--lg: map-get( $theme-padding-sizes, 'lg' );
$theme-padding--xl: map-get( $theme-padding-sizes, 'xl' );
$theme-padding--xxl: map-get( $theme-padding-sizes, 'xxl' );

// ----------------------------------------- Hero Sizes

$theme-hero-sizes: (
  'base': 280px,
  'sm': 300px,
  'md': 320px,
  'lg': 380px,
  'xl': 420px,
  'xxl': 460px
);

$theme-hero-height: map-get( $theme-hero-sizes, 'base' );
$theme-hero-height--sm: map-get( $theme-hero-sizes, 'sm' );
$theme-hero-height--md: map-get( $theme-hero-sizes, 'md' );
$theme-hero-height--lg: map-get( $theme-hero-sizes, 'lg' );
$theme-hero-height--xl: map-get( $theme-hero-sizes, 'xl' );
$theme-hero-height--xxl: map-get( $theme-hero-sizes, 'xxl' );

// ----------------------------------------- Push Navigation

$theme-push-navigation-sizes: (
  'base': 220px,
  'sm': 220px,
  'md': 280px,
  'lg': 280px,
  'xl': 300px,
  'xxl': 300px
);

$theme-push-navigation-width: map-get( $theme-push-navigation-sizes, 'base' );
$theme-push-navigation-width--sm: map-get( $theme-push-navigation-sizes, 'sm' );
$theme-push-navigation-width--md: map-get( $theme-push-navigation-sizes, 'md' );
$theme-push-navigation-width--lg: map-get( $theme-push-navigation-sizes, 'lg' );
$theme-push-navigation-width--xl: map-get( $theme-push-navigation-sizes, 'xl' );
$theme-push-navigation-width--xxl: map-get( $theme-push-navigation-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  Theme | Variables
//////////////////////////////////////////////////////////

$sans-serif: sans-serif;
$sans-serif--muli: 'Muli', sans-serif;
$serif: serif;
$serif--gfs-didot: 'GFS Didot', serif;
$display: serif;

//////////////////////////////////////////////////////////
////  Theme | Typography
//////////////////////////////////////////////////////////

$theme-body-copy-sizes: (
  'base': 14px,
  'sm': 14px,
  'md': 14px,
  'lg': 14px,
  'xl': 14px,
  'xxl': 14px
);

$theme-body-copy: map-get( $theme-body-copy-sizes, 'base' );
$theme-body-copy--sm: map-get( $theme-body-copy-sizes, 'sm' );
$theme-body-copy--md: map-get( $theme-body-copy-sizes, 'md' );
$theme-body-copy--lg: map-get( $theme-body-copy-sizes, 'lg' );
$theme-body-copy--xl: map-get( $theme-body-copy-sizes, 'xl' );
$theme-body-copy--xxl: map-get( $theme-body-copy-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  Colour | Variables
//////////////////////////////////////////////////////////

$theme-colours: (
  'white': #FFFFFF,
  'black': #000000,
  'beige': #E7BF9C,
  'cream': #F3F1DD,
  'dark-grey': #333333,
  'light-grey': #c2c2c2,
  'off-black': #222222,
  'off-white': #fafafa,
  'red': #6b0505,
);

$theme-white: map-get( $theme-colours, 'white' );
$theme-black: map-get( $theme-colours, 'black' );

$theme-dark-grey: map-get( $theme-colours, 'dark-grey' );
$theme-light-grey: map-get( $theme-colours, 'light-grey' );
$theme-off-black: map-get( $theme-colours, 'off-black' );
$theme-off-white: map-get( $theme-colours, 'off-white' );
$theme-red: map-get( $theme-colours, 'red' );







//////////////////////////////////////////////////////////
////  NU
//////////////////////////////////////////////////////////

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 20px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);

// ---------------------------------------- Bootstrap | Container Sizes
$theme-inset-sizes: (
  base: 22px,
  sm: 22px,
  md: 28px,
  lg: 62px,
  xl: 72px,
  xxl: 92px
);
