//////////////////////////////////////////////////////////
////  Variables & Mixins
//////////////////////////////////////////////////////////

@import './_variables.scss';
@import './_mixins.scss';

//////////////////////////////////////////////////////////
////  Vendor Customization
//////////////////////////////////////////////////////////

@import './components/hamburger.scss';

//////////////////////////////////////////////////////////
////  Theme CSS Variables
//////////////////////////////////////////////////////////

:root {

  //////////////////////////////////////////////////////////
  ////  Bootstrap
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Gutter Width
  --bs-gutter-width: #{ $grid-gutter-width };
  --bs-gutter-x: #{ $grid-gutter-width };

  // ---------------------------------------- Container Breakpoints
  --bs-container-breakpoint--sm: #{ map-get( $grid-breakpoints, sm ) };
  --bs-container-breakpoint--md: #{ map-get( $grid-breakpoints, md ) };
  --bs-container-breakpoint--lg: #{ map-get( $grid-breakpoints, lg ) };
  --bs-container-breakpoint--xl: #{ map-get( $grid-breakpoints, xl ) };
  --bs-container-breakpoint--xxl: #{ map-get( $grid-breakpoints, xxl ) };

  // ---------------------------------------- Container Max Widths
  --bs-container-width--sm: #{ map-get( $container-max-widths, sm ) };
  --bs-container-width--md: #{ map-get( $container-max-widths, md ) };
  --bs-container-width--lg: #{ map-get( $container-max-widths, lg ) };
  --bs-container-width--xl: #{ map-get( $container-max-widths, xl ) };
  --bs-container-width--xxl: #{ map-get( $container-max-widths, xxl ) };

  //////////////////////////////////////////////////////////
  ////  Theme
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Body Copy
  --theme-body-copy: #{ map-get( $theme-body-copy-sizes, 'base' ) };
  --theme-body-copy--sm: #{ map-get( $theme-body-copy-sizes, 'sm' ) };
  --theme-body-copy--md: #{ map-get( $theme-body-copy-sizes, 'md' ) };
  --theme-body-copy--lg: #{ map-get( $theme-body-copy-sizes, 'lg' ) };
  --theme-body-copy--xl: #{ map-get( $theme-body-copy-sizes, 'xl' ) };
  --theme-body-copy--xxl: #{ map-get( $theme-body-copy-sizes, 'xxl' ) };

  // ---------------------------------------- Border
  --theme-border-radius: #{ map-get( $theme-border, 'radius' ) };
  --theme-border-width: #{ map-get( $theme-border, 'width' ) };

  // ---------------------------------------- Button | Font Size
  --theme-button-font-size: #{ map-get( $theme-button-font-sizes, base ) };
  --theme-button-font-size--sm: #{ map-get( $theme-button-font-sizes, sm ) };
  --theme-button-font-size--md: #{ map-get( $theme-button-font-sizes, md ) };
  --theme-button-font-size--lg: #{ map-get( $theme-button-font-sizes, lg ) };
  --theme-button-font-size--xl: #{ map-get( $theme-button-font-sizes, xl ) };
  --theme-button-font-size--xxl: #{ map-get( $theme-button-font-sizes, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-height: #{ map-get( $theme-button-min-heights, base ) };
  --theme-button-min-height--sm: #{ map-get( $theme-button-min-heights, sm ) };
  --theme-button-min-height--md: #{ map-get( $theme-button-min-heights, md ) };
  --theme-button-min-height--lg: #{ map-get( $theme-button-min-heights, lg ) };
  --theme-button-min-height--xl: #{ map-get( $theme-button-min-heights, xl ) };
  --theme-button-min-height--xxl: #{ map-get( $theme-button-min-heights, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-width: #{ map-get( $theme-button-min-widths, base ) };
  --theme-button-min-width--sm: #{ map-get( $theme-button-min-widths, sm ) };
  --theme-button-min-width--md: #{ map-get( $theme-button-min-widths, md ) };
  --theme-button-min-width--lg: #{ map-get( $theme-button-min-widths, lg ) };
  --theme-button-min-width--xl: #{ map-get( $theme-button-min-widths, xl ) };
  --theme-button-min-width--xxl: #{ map-get( $theme-button-min-widths, xxl ) };

  // ---------------------------------------- Colours
  --theme-colour-beige: #{ hexToRGB( map-get( $theme-colours, 'beige' ) ) };
  --theme-colour-black: #{ hexToRGB( map-get( $theme-colours, 'black' ) ) };
  --theme-colour-cream: #{ hexToRGB( map-get( $theme-colours, 'cream' ) ) };
  --theme-colour-dark-grey: #{ hexToRGB( map-get( $theme-colours, 'dark-grey' ) ) };
  --theme-colour-light-grey: #{ hexToRGB( map-get( $theme-colours, 'light-grey' ) ) };
  --theme-colour-off-black: #{ hexToRGB( map-get( $theme-colours, 'off-black' ) ) };
  --theme-colour-off-white: #{ hexToRGB( map-get( $theme-colours, 'off-white' ) ) };
  --theme-colour-red: #{ hexToRGB( map-get( $theme-colours, 'red' ) ) };
  --theme-colour-white: #{ hexToRGB( map-get( $theme-colours, 'white' ) ) };

  // ---------------------------------------- Container
  --theme-container--sm: #{ map-get( $container-max-widths, 'sm' ) };
  --theme-container--md: #{ map-get( $container-max-widths, 'md' ) };
  --theme-container--lg: #{ map-get( $container-max-widths, 'lg' ) };
  --theme-container--xl: #{ map-get( $container-max-widths, 'xl' ) };
  --theme-container--xxl: #{ map-get( $container-max-widths, 'xxl' ) };

  // ---------------------------------------- Header
  --theme-header-height: #{ map-get( $theme-header-heights, 'base' ) };
  --theme-header-height--sm: #{ map-get( $theme-header-heights, 'sm' ) };
  --theme-header-height--md: #{ map-get( $theme-header-heights, 'md' ) };
  --theme-header-height--lg: #{ map-get( $theme-header-heights, 'lg' ) };
  --theme-header-height--xl: #{ map-get( $theme-header-heights, 'xl' ) };
  --theme-header-height--xxl: #{ map-get( $theme-header-heights, 'xxl' ) };

  // ---------------------------------------- Icon
  --theme-icon-size-social: 32px;

  // ---------------------------------------- Inset Sizes
  --theme-inset-size: #{ map-get( $theme-inset-sizes, 'base' ) };
  --theme-inset-size--sm: #{ map-get( $theme-inset-sizes, 'sm' ) };
  --theme-inset-size--md: #{ map-get( $theme-inset-sizes, 'md' ) };
  --theme-inset-size--lg: #{ map-get( $theme-inset-sizes, 'lg' ) };
  --theme-inset-size--xl: #{ map-get( $theme-inset-sizes, 'xl' ) };
  --theme-inset-size--xxl: #{ map-get( $theme-inset-sizes, 'xxl' ) };

  // ---------------------------------------- Font Families
  --theme-font-family--sans-serif: sans-serif;
  --theme-font-family--serif: sans-serif;
  --theme-font-family--display: serif;

  --theme-font-family--sans-serif--primary: 'Avenir Next', sans-serif;
  --theme-font-family--sans-serif--secondary: 'Muli', sans-serif;
  --theme-font-family--serif--primary: serif;

  // ---------------------------------------- Mobile Menu Width
  --theme-mobile-menu-width: 290px;

  // ---------------------------------------- Transitions
  --theme-transition-duration: 300ms;
  --theme-transition-opacity: 0.45;

}

//////////////////////////////////////////////////////////
////  Vendor
//////////////////////////////////////////////////////////

@import './vendors/_bootstrap.scss';
@import './vendors/_micro-modal.scss';
@import '../node_modules/aos/dist/aos';
@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import '../node_modules/@glidejs/glide/dist/css/glide.core.min';

//////////////////////////////////////////////////////////
////  NU | Component
//////////////////////////////////////////////////////////

@import './components/body-copy.scss';
@import './components/button.scss';
@import './components/colour-theme';
@import './components/field.scss';
@import './components/form.scss';
@import './components/heading.scss';
@import './components/input.scss';
@import './components/link.scss';
@import './components/navigation.scss';
@import './components/textarea.scss';

//////////////////////////////////////////////////////////
////  NU | Layouts
//////////////////////////////////////////////////////////

@import './components/magazine-header.scss';

//////////////////////////////////////////////////////////
////  NU | Theme
//////////////////////////////////////////////////////////

@import './components/_additional-posts.scss';
@import './components/_adjacent-posts.scss';
@import './components/_article.scss';
@import './components/_aside.scss';
@import './components/_background.scss';

// @import './components/_cta.scss';
@import './components/_contact-us.scss';
@import './components/_date.scss';
@import './components/_faqs.scss';
@import './components/_glider.scss';
@import './components/_hero.scss';
@import './components/_iframe.scss';
@import './components/_image-glider.scss';
@import './components/_image-with-text.scss';
@import './components/_lazyload.scss';
@import './components/_lead-generator.scss';
@import './components/_magazine.scss';
@import './components/_menu.scss';
@import './components/_newsletter.scss';
@import './components/_pagination';
@import './components/share-post';
@import './components/team-member.scss';
@import './components/team.scss';

//////////////////////////////////////////////////////////
////  Sections
//////////////////////////////////////////////////////////

@import './sections/_section.scss';

//////////////////////////////////////////////////////////
////  Theme
//////////////////////////////////////////////////////////

// NÜ

@import './theme/container.scss';
@import './theme/footer.scss';
@import './theme/header.scss';
@import './theme/mobile-menu.scss';






@import './theme/_404.scss';
@import './theme/_animations.scss';
@import './theme/_body.scss';
@import './theme/_fonts.scss';
@import './theme/_footer.scss';
// @import './theme/_form.scss';
@import './theme/_index.scss';
@import './theme/_main.scss';
@import './theme/_modal.scss';
@import './theme/_placeholder.scss';
@import './theme/_typography.scss';

// ---------------------------------------- Blocks
@import './blocks/app-feature';
@import './blocks/feature-carousel';
@import './blocks/fifty-fifty';
@import './blocks/hero-block';
@import './blocks/instagram-feed';
@import './blocks/logo-carousel';
@import './blocks/nu-lead-generation';
@import './blocks/pricing';
@import './blocks/testimonials';
@import './blocks/text-feature';
@import './blocks/text';
