//////////////////////////////////////////////////////////
////  Variables & Mixins
//////////////////////////////////////////////////////////

@import './_variables.scss';
@import './_mixins.scss';

//////////////////////////////////////////////////////////
////  Google Fonts
//////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Muli|Didot&display=swap');

//////////////////////////////////////////////////////////
////  Vimeo OTT
//////////////////////////////////////////////////////////

@import './vimeo-ott/mixins.scss';
@import './vimeo-ott/body.scss';
@import './vimeo-ott/browse-component.scss';
@import './vimeo-ott/collections.scss';
@import './vimeo-ott/comments.scss';
@import './vimeo-ott/content-preview.scss';
@import './vimeo-ott/footer.scss';
@import './vimeo-ott/header.scss';
@import './vimeo-ott/help.scss';
@import './vimeo-ott/logged-in.scss';
@import './vimeo-ott/logged-out.scss';
@import './vimeo-ott/packages-parent.scss';
@import './vimeo-ott/products.scss';
@import './vimeo-ott/purchase.scss';
@import './vimeo-ott/search.scss';
@import './vimeo-ott/settings.scss';
@import './vimeo-ott/site-container.scss';
@import './vimeo-ott/subscription-options.scss';
@import './vimeo-ott/text-promotions.scss';
@import './vimeo-ott/videos.scss';
@import './vimeo-ott/watch-unauthorized';

//////////////////////////////////////////////////////////
////  Site Container
//////////////////////////////////////////////////////////

.navigation-inner .teachers-nav-link{
  position: relative;
}

.dropdown-container {
  display: inline-block;
  position: relative !important;
}

a.teachers-nav-link ~ ul {
  display: none;
  position: absolute;
  left: 19px;
  top: 19px;
  background: #fafafa;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  z-index: 2000;
}

.navigation-inner ul.wide {
  width: 200px;
}

.navigation-inner ul.is-visible {
  display: block;
}

.navigation-inner ul li {
  margin: 0;
  padding: 0;
}

.navigation-inner ul li a {
  padding: 10px;
  display: block;
}

//////////////////////////////////////////////////////////
////  Site Container
//////////////////////////////////////////////////////////

.site-background-color {
  background: $theme-white !important;
}

.site-container {

  h1, h2, h3, h4, h5, h6, p, li {
    color: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    @include vimeo-heading;
  }

  // ----------------------------------------- Overview Content
  .overview-content {

    h1 {
      @include vimeo-heading-1;
      font-style: italic;
      margin: 0 0 24px 0;
      max-width: 650px;
    }

    .actions {
      margin: 20px 0 0 0;
      padding: 0 !important;
    }

    .hero-short-desc {
      @include vimeo-body-copy;
      color: $theme-white;
      margin: 0 0 30px 0;
      max-width: 650px;
    }

    .primary-actions {
      a.btn {
        @include vimeo-button-circle;
        @include vimeo-button-circle-white;
      }
    }

    .transaction-type-details {
      display: none;
    }

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}

/*! Saved January 19th, 2023 */
