//////////////////////////////////////////////////////////
////  Additional Posts | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Additional Posts | Styles
//////////////////////////////////////////////////////////

.additional-posts {

  .article {

    &__cta,
    &__featured-images,
    &__title,
    &__subtitle {
      padding-left: 24px;
    }

    &__category {
      margin: 0;
      position: absolute;
      top: 50px; // overwritten with js
      left: 0;
      z-index: 10;
      font-size: 10px;
      a {
        transition: opacity 280ms;
        transform: rotate(-90deg);
        transform-origin: top left;
        line-height: 0.9;
        color: #222222;
        opacity: 0.33;
        &:hover {
          opacity: 1;
        }
      }
    }

    &__cta {
      a {
        color: inherit;
      }
    }

    &__featured-images {
      margin-top: 0;
    }

    &__featured-image {
      &--landscape {
        display: none;
      }
      &--portrait {
        display: block;
      }
    }

    &__title {
      font-size: 26px;
      margin-top: 8px;
      padding-right: 0;
      a {
        color: inherit;
      }
    }

  }

  &__grid {
    margin-bottom: -75px;
  }

  @include breakpoint(sm) {

    .article {
      &__title {
        font-size: 26px;
        margin-top: 8px;
      }
    }

  } // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .article {

      $guter: 32px;

      width: calc( 100% / 3 - 40px );

      &__featured-images {}

      &__featured-image {
        padding: 0;
      }

      &__title {
        font-size: 18px;
        margin-top: 6px;
      }

      &[data-post-count="1"],
      &[data-post-count="3"] {
       .article__featured-image {
          &--landscape {
            display: none;
          }
          &--portrait {
            display: block;
          }
        }
      }

      &[data-post-count="2"] {
        .article__featured-image {
          &--landscape {
            display: block;
          }
          &--portrait {
            display: none;
          }
        }
      }

    }

    &__grid {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
    }

  } // min width lg

  @include breakpoint(xl) {

    .article {
      &__title {
        font-size: 24px;
        margin-top: 8px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .article {
      &__title {
        font-size: 28px;
        margin-top: 10px;
      }
    }

  } // min width xxl

} // .additional-posts
