//////////////////////////////////////////////////////////
////  Adjacent Posts | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Adjacent Posts | Styles
//////////////////////////////////////////////////////////

.adjacent-posts {

  margin-top: 64px;

  a {
    transition: opacity 280ms;
    &:hover {
      opacity: 0.25;
    }
  }

  a, span {
    color: inherit;
    display: inline-block;
    width: auto;
  }

  span {
    opacity: 0.25;
  }

  &__hr {
    display: block;
    width: 100%;
    height: 1px;
    background: #C2C2C2;
  }

  &__button {
    font-family: $serif--gfs-didot;
    font-size: 19px;
    font-style: italic;
    letter-spacing: 2.17px;
    line-height: 1;
    span {
      opacity: 0.25;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 32px 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .adjacent-posts
