.article {

  color: #222222;
  position: relative;
  padding-top: 40px;
  padding-bottom: 75px;

  &__subtitle,
  &__title {
    font-family: var(--theme-font-family--sans-serif--primary);
  }

  &__brand {
    width: 155px;
    display: block;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
    }
  }

  &__body {

    padding-top: 44px;

    .article__image + .article__wysiwyg,
    .article__wysiwyg + .article__image {
      margin-top: 28px;
    }

    .article__wysiwyg:first-child {
      .rte {
        p:first-of-type:first-letter {
          font-family: $serif--gfs-didot;
          font-weight: 100;
          float: left;
          font-size: 80px;
          line-height: 60px;
          padding-top: 4px;
          padding-right: 8px;
          padding-left: 3px;
        }
      }
    }

  }

  &__caption {
    padding: 10px var(--bs-gutter-width) 0;
  }

  &__category {
    font-family: $sans-serif--muli;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 34px;
    a {
      transition: color 280ms;
      color: #C2C2C2;
      display: inline-block;
      &:hover {
        color: darken( #C2C2C2, 30% );
      }
    }
  }

  &__cta {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    margin-top: 32px;
  }

  &__featured-images {
    position: relative;
    margin-top: 34px;
  }

  &__featured-image {
    img {
      display: block;
      width: 100%;
    }
  }

  &__header {
    .article__title {
      padding: 0 15%;
      text-align: center;
    }
  }

  &__image {
    & + .article__image {
      margin-top: 10px;
    }
  }

  &__meta {
    color: #222222;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1.23px;
    line-height: 1.25;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    &-spacer {
      margin: 0 5px;
    }
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
    span {
      font-weight: bold;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
    font-weight: 500;
    display: block;
  }

  &__title {
    font-size: 27px;
    line-height: 1.4;
    font-weight: 600;
    color: inherit;
    margin-top: 7px;
    margin-bottom: 0;
    span {
      font-style: italic;
    }
  }

  &__wysiwyg {
    .block-quote {
      font-family: $serif--gfs-didot;
      display: block;
      margin: 35px 0;
      line-height: 1.3461;
      font-size: 26px;
      text-align: center;
    }
    .rte {
      p, li {
        @include body-copy( 1, 2, normal );
        text-align: justify;
      }
    }
  }

  @include breakpoint(md) {

    &__header {
      .article__title {
        padding: 0 18%;
      }
    }

    &__title {
      margin: 30px 0 0 0;
    }

  }

  @include breakpoint(lg) {

    padding-top: 70px;
    padding-bottom: 140px;

    &__featured-image,
    &__image,
    &__caption {
      padding: 0 $theme-padding--lg;
    }

    &__body {

      padding-top: 66px;

      .article__image + .article__wysiwyg,
      .article__wysiwyg + .article__image {
        margin-top: 66px;
      }

    }

    &__brand {
      width: 170px;
    }

    &__category {
      font-size: 13px;
      margin-top: 54px;
    }

    &__caption {
      font-size: 11px;
      padding-top: 10px;
    }

    &__featured-images {
      margin-top: 115px;
    }

    &__header {
      .article__title {
        padding: 0 15%;
      }
    }

    &__meta {
      font-size: 13px;
      margin-top: 32px;
    }

    &__title {
      font-size: 38px;
      margin-top: 28px;
    }

    &__wysiwyg {
      .block-quote {
        margin: 42px 0;
        font-size: 35px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__featured-image,
    &__image,
    &__caption {
      padding: 0 $theme-padding--xl;
    }

    &__caption {
      padding-top: 10px;
    }

    &__header {
      .article__title {
        padding: 0 19%;
      }
    }

    &__title {
      font-size: 42px;
    }

  }

  @include breakpoint(xxl) {

    &__featured-image,
    &__image,
    &__caption {
      padding: 0 $theme-padding--xxl;
    }

    &__caption {
      padding-top: 10px;
    }

    &__header {
      .article__title {
        padding: 0 20%;
      }
    }

    &__title {
      font-size: 44px;
    }

  }

}
