//////////////////////////////////////////////////////////
////  Aside | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Aside | Styles
//////////////////////////////////////////////////////////

.aside {

  &__block-quote {
    font-family: $serif--gfs-didot;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.5629;
    text-align: center;
    p, li {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__caption,
  &__image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  &__caption {
    margin-top: 8px;
    width: 150px;
    font-size: 11px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 18px;
  }

  &__image {
    margin-top: 0;
    width: 100px;
  }

  &__image-list,
  &__image-list-item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
  }

  &__image-list-item {
    margin: 0 15px;
    text-align: center;
  }

  &--left,
  &--right {
    margin-top: 40px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__block-quote {
      text-align: left;
      font-size: 20px;
      line-height: 1.6363;
    }

    &__caption {
      margin-top: 10px;
      width: 150px;
      font-size: 11px;
      margin-left: 0;
      margin-right: 0;
    }

    &__image {
      width: 120px;
      margin: 0;
    }

    &__image-list {
      justify-content: flex-start;
      flex-flow: row wrap;
    }

    &__image-list-item {
      margin: 0;
      text-align: left;
      width: 100%;
      & + .aside__image-list-item {
        margin-top: 55px;
      }
    }

    &--left,
    &--right {
      margin-top: 6px;
    }

    &--left {
      padding-right: 17.5%;
    }

    &--right {
      padding-left: 17.5%;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &__caption {
      margin-top: 10px;
      width: 165px;
    }

    &__block-quote {
      font-size: 22px;
    }

    &__image {
      width: 140px;
    }

    &__image-list-item {
      & + .aside__image-list-item {
        margin-top: 70px;
      }
    }

  } // min width xxl

} // .aside
