//////////////////////////////////////////////////////////
////  Background | Variables
//////////////////////////////////////////////////////////

%positioning {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

//////////////////////////////////////////////////////////
////  Background | Styles
//////////////////////////////////////////////////////////

.background {

  position: relative;
  overflow: hidden;

  iframe {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    position: absolute;
  }

  &__image,
  &__overlay,
  &__video {
    @extend %positioning;
  }

  &__overlay {
    background: $theme-light-grey;
  }

  &[data-appearance="full-height"] {
    height: 100vh;
  }

  &[data-appearance="two-thirds-height"] {
    height: 66vh;
  }

  &[data-appearance="half-height"] {
    height: 50vh;
  }

  &[data-resize-mobile="false"] {
    height: 300px;
  }

  @include breakpoint(sm) {

    &[data-resize-mobile="false"] {
      height: 360px;
    }

  } // min width sm

  @include breakpoint(md) {

    &[data-resize-mobile="false"] {
      height: 420px;
    }

  } // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .background
