//////////////////////////////////////////////////////////
////  Body Copy | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Body Copy | Styles
//////////////////////////////////////////////////////////

.body-copy {

  font-size: 14px;
  line-height: 1.7;

  a {
    transition:
      border var(--theme-transition-duration),
      color var(--theme-transition-duration),
      opacity var(--theme-transition-duration);
    color: inherit;
    display: inline-block;
    text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #B76A5F;
    line-height: 1.2;
    &:hover,
    &:focus {
      border-bottom-color: transparent;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 600;
  }

  h1 {
    font-size: 35px;
    line-height: 1.29;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 18px;
  }

  h4, h5 {
    font-size: 20px;
    line-height: 1.25;
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-style: inherit;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(lg) {

    font-size: 15px;
    line-height: 1.7;

    h1 {
      font-size: 50px;
      line-height: 1.25;
    }

    h2 {
      font-size: 35px;
      line-height: 1.22;
    }

    h3 {
      font-size: 28px;
    }

    h4, h5 {
      font-size: 22px;
      line-height: 1.2;
    }

  } // min width lg

  @include breakpoint(xl) {

    font-size: 16px;

    h1 {
      font-size: 58px;
    }

    h2 {
      font-size: 42px;
    }

    h3 {
      font-size: 30px;
    }

    h4, h5 {
      font-size: 24px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    font-size: 17px;

    h1 {
      font-size: 64px;
    }

    h2 {
      font-size: 48px;
    }

    h3 {
      font-size: 32px;
    }

    h4, h5 {
      font-size: 26px;
    }

  } // min width xxl

} // .body-copy
