//////////////////////////////////////////////////////////
////  Button | Vars
//////////////////////////////////////////////////////////

$animation-timing: 280ms;

//////////////////////////////////////////////////////////
////  Button | Styles
//////////////////////////////////////////////////////////

.button {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    & + span {
      margin-left: 6px;
    }
  }

  svg {
    fill: currentColor;
  }

  &__icon {
    transition:
      color var(--theme-transition-duration),
      transform var(--theme-transition-duration);
  }

  &__title {
    color: inherit;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--primary {
    background: rgba(var(--theme-colour-black), 1);
    color: rgba(var(--theme-colour-white), 1);
    color: rgba(var(--theme-colour-white), 1);
    margin-top: 20px;
    min-height: 48px;
    min-width: 180px;
  }

  &--text {
    @each $colour-name, $colour-value in $theme-colours {
      &.button--#{$colour-name} {
        .button__icon,
        .button__title {
          color: $colour-value;
        }
        &:hover {
          .button__icon,
          .button__title {
            color: shade( $colour-value, 33% );
          }
        }
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--primary {
      min-height: 42px;
      min-width: 180px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .button
