[data-colour-theme="cream"] {
  background: #f3f1dd;
  color: rgba(var(--theme-colour-black), 1);
}

[data-colour-theme="white"] {
  background: rgba(var(--theme-colour-white), 1);
  color: rgba(var(--theme-colour-black), 1);
}
