//////////////////////////////////////////////////////////
////  Contact Us | Variables
//////////////////////////////////////////////////////////

$icon-size: 24px;
$icon-size--sm: 26px;
$icon-size--md: 28px;
$icon-size--lg: 30px;
$icon-size--xl: 32px;
$icon-size--xxl: 34px;

//////////////////////////////////////////////////////////
////  Contact Us | Styles
//////////////////////////////////////////////////////////

.contact-us {

  .form {

    button {
      background: $theme-black;
      color: $theme-white;
      text-transform: uppercase;
      margin-top: 30px;
      &:hover {
        background: lighten( $theme-black, 33.3333% );
      }
    }

    input {
      border-bottom: 1px solid $theme-black;
      padding-left: 0;
      padding-right: 0;
    }

    textarea {
      border: 1px solid $theme-black;
      min-height: 200px;
    }

    .error {
      input,
      textarea {
        background: rgba( $theme-red, 0.025 );
      }
      input {
        border-bottom: 1px solid $theme-red;
      }
      textarea {
        border: 1px solid $theme-red;
      }
    }

    &__field {
      width: 100%;
      & + .form__field {
        margin-top: 32px;
      }
    }

    &__row {
      display: flex;
      flex-flow: row wrap;
      & + .form__row {
        margin-top: 32px;
      }
      &[data-row-index="03"] {
        margin-top: 46px;
      }
    }

  }

  &__heading {
    margin: 0 0 28px;
  }

  &__links,
  &__links-item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__links {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  &__links-item {
    width: $icon-size;
    height: $icon-size;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
    a {
      transition: opacity 280ms;
      &:hover {
        opacity: 0.5;
      }
    }
    & + .contact-us__links-item {
      margin-left: 15px;
    }
  }

  &__social {
    margin-top: 50px;
  }

  @include breakpoint(sm) {

    &__links-item {
      width: $icon-size--sm;
      height: $icon-size--sm;
      & + .contact-us__links-item {
        margin-left: 18px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .form {

      button {
        margin-top: 26px;
      }

      textarea {
        min-height: 200px;
      }

      &__field {
        & + .form__field {
          margin-top: 28px;
        }
      }

      &__row {
        & + .form__row {
          margin-top: 28px;
        }
        &[data-row-index="03"] {
          margin-top: 40px;
        }
      }

    }

    &__general {
      padding-left: 52px;
      margin-left: 18px;
      border-left: 1px dotted $theme-black;
    }

    &__heading {
      font-size: 25px;
      margin: 0 0 22px;
    }

    &__links-item {
      width: $icon-size--md;
      height: $icon-size--md;
      & + .contact-us__links-item {
        margin-left: 20px;
      }
    }

    &__social {
      margin-top: 0;
    }

  } // min width md

  @include breakpoint(lg) {

    &__general {
      padding-left: 58px;
      margin-left: 32px;
    }

    &__heading {
      font-size: 26px;
      margin: 0 0 24px;
    }

    &__links-item {
      & + .contact-us__links-item {
        margin-left: 18px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .form {

      button {
        margin-top: 32px;
      }

      textarea {
        min-height: 250px;
      }

      &__field {
        & + .form__field {
          margin-top: 0;
        }
      }

      &__row {
        flex-flow: row nowrap;
        & + .form__row {
          margin-top: 34px;
        }
        &[data-row-index="01"] {
          justify-content: space-between;
          .form__field {
            width: 45%;
          }
        }
        &[data-row-index="03"] {
          margin-top: 50px;
        }
      }

    }

    &__general {
      padding-left: 80px;
      margin-left: 32px;
    }

    &__heading {
      font-size: 31px;
      margin: 0 0 28px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__heading {
      font-size: 34px;
      margin: 0 0 28px;
    }

  } // min width xxl

} // .contact-us
