//////////////////////////////////////////////////////////
////  Contact Us | Variables
//////////////////////////////////////////////////////////

$icon-size: 24px;
$icon-size--sm: 26px;
$icon-size--md: 28px;
$icon-size--lg: 30px;
$icon-size--xl: 32px;
$icon-size--xxl: 34px;

//////////////////////////////////////////////////////////
////  Contact Us | Styles
//////////////////////////////////////////////////////////

.contact-us {

  .form {
    .field {
      width: 100%;
    }
    &__submit-button {
      background: rgba(var(--theme-colour-black),1);
      color: rgba(var(--theme-colour-white),1);
      width: 100%;
      margin-top: 20px;
      min-height: 48px;
      min-width: 180px;
      &:hover {
        background: rgba(var(--theme-colour-black),0.75);
      }
    }
  }

  &__heading {
    margin: 0 0 28px;
  }

  &__links,
  &__links-item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__links {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  &__links-item {
    width: $icon-size;
    height: $icon-size;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
    a {
      transition: opacity 280ms;
      &:hover {
        opacity: 0.5;
      }
    }
    & + .contact-us__links-item {
      margin-left: 15px;
    }
  }

  &__social {
    margin-top: 50px;
  }

  @include breakpoint(sm) {

    &__links-item {
      width: $icon-size--sm;
      height: $icon-size--sm;
      & + .contact-us__links-item {
        margin-left: 18px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__general {
      padding-left: 52px;
      margin-left: 18px;
      border-left: 1px dotted $theme-black;
    }

    &__heading {
      font-size: 25px;
      margin: 0 0 22px;
    }

    &__links-item {
      width: $icon-size--md;
      height: $icon-size--md;
      & + .contact-us__links-item {
        margin-left: 20px;
      }
    }

    &__social {
      margin-top: 0;
    }

  } // min width md

  @include breakpoint(lg) {

    .form {
      &__submit-button {
        width: auto;
        min-height: 42px;
      }
    }

    &__general {
      padding-left: 58px;
      margin-left: 32px;
    }

    &__heading {
      font-size: 26px;
      margin: 0 0 24px;
    }

    &__links-item {
      & + .contact-us__links-item {
        margin-left: 18px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .form {
      .field {
        &--tel,
        &--text {
          width: calc( 50% - var(--bs-gutter-width) );
          margin-top: 0;
        }
      }
      .section {
        justify-content: space-between;
      }
    }

    &__general {
      padding-left: 80px;
      margin-left: 32px;
    }

    &__heading {
      font-size: 31px;
      margin: 0 0 28px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__heading {
      font-size: 34px;
      margin: 0 0 28px;
    }

  } // min width xxl

} // .contact-us
