//////////////////////////////////////////////////////////
////  Call to Action | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Call to Action | Styles
//////////////////////////////////////////////////////////

.cta {

  a {
    @include body-copy( 0.9, 0.9, 300 );
    transition: background 280ms, opacity 280ms, color 280ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &--circle {
    a {
      width: $theme-cta-circle-size;
      height: $theme-cta-circle-size;
      border-radius: 999px;
    }
    .cta__inner-circle {
      width: $theme-cta-circle-size - $theme-cta-circle-offset;
      height: $theme-cta-circle-size - $theme-cta-circle-offset;
      border-radius: 999px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--pill {
    a {
      color: $theme-off-white;
      padding: 15px 18px;
      min-width: 130px;
      text-align: center;
      border-radius: 999px;
    }
  }

  @each $colour-name, $colour-value in $theme-colours {
    &[data-colour-theme="#{$colour-name}"] {
      $hover-colour: darken( $colour-value, 25% );
      $color: $theme-white;
      @if ( 'black' == $colour-name ) {
        $hover-colour: #778588;
      }
      &.cta--circle {
        a {
          background: rgba( $colour-value, 0.25 );
          color: $color;
          &:hover {
            background: rgba( $colour-value, 0.75 );
            color: $color;
          }
        }
        .cta__inner-circle {
          background: rgba( $colour-value, 0.9 );
        }
      }
      &.cta--pill {
        a {
          background: $colour-value;
          &:hover {
            @if ( 'black' == $colour-name ) {
              background: lighten( $colour-value, 33.3333% );
            } @else {
              background: darken( $colour-value, 33.3333% );
            }
          }
        }
      }
    }
  }

  @include breakpoint(sm) {

    &--circle {
      a {
        width: $theme-cta-circle-size--sm;
        height: $theme-cta-circle-size--sm;
      }
      .cta__inner-circle {
        width: $theme-cta-circle-size--sm - $theme-cta-circle-offset;
        height: $theme-cta-circle-size--sm - $theme-cta-circle-offset;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &--circle {
      a {
        width: $theme-cta-circle-size--md;
        height: $theme-cta-circle-size--md;
      }
      .cta__inner-circle {
        width: $theme-cta-circle-size--md - $theme-cta-circle-offset;
        height: $theme-cta-circle-size--md - $theme-cta-circle-offset;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    &--circle {
      a {
        width: $theme-cta-circle-size--lg;
        height: $theme-cta-circle-size--lg;
      }
      .cta__inner-circle {
        width: $theme-cta-circle-size--lg - $theme-cta-circle-offset;
        height: $theme-cta-circle-size--lg - $theme-cta-circle-offset;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &--circle {
      a {
        width: $theme-cta-circle-size--xl;
        height: $theme-cta-circle-size--xl;
      }
      .cta__inner-circle {
        width: $theme-cta-circle-size--xl - $theme-cta-circle-offset;
        height: $theme-cta-circle-size--xl - $theme-cta-circle-offset;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--circle {
      a {
        width: $theme-cta-circle-size--xxl;
        height: $theme-cta-circle-size--xxl;
      }
      .cta__inner-circle {
        width: $theme-cta-circle-size--xxl - $theme-cta-circle-offset;
        height: $theme-cta-circle-size--xxl - $theme-cta-circle-offset;
      }
    }

  } // min width xxl

} // .cta
