//////////////////////////////////////////////////////////
////  Date | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Date | Styles
//////////////////////////////////////////////////////////

.date {

  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;

  &__item {
    margin: 0 3px;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 0.9;
    letter-spacing: 2px;
    font-weight: bold;
    color: #C2C2C2;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .date
