//////////////////////////////////////////////////////////
////  FAQs | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  FAQs | Styles
//////////////////////////////////////////////////////////

.faqs {

  &__list,
  &__item {
    @include list-reset;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-flow: row wrap;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba( $theme-black, 0.15 );
    padding: 24px 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &__question {
    @include body-copy( 1.2, 1.42857143, 600 );
    font-family: $serif--gfs-didot;
    color: $theme-off-black;
    font-style: italic;
    margin: 0 0 18px 0;
  }

  @include breakpoint(sm) {

    &__item {
      padding: 26px 0;
    }

  } // min width sm

  @include breakpoint(md) {

    &__item {
      padding: 28px 0;
    }

    &__question {
      margin: 0 0 20px 0;
    }

  } // min width md

  @include breakpoint(lg) {

    &__answer {
      width: 70%;
      padding-left: 7%;
    }

    &__item {
      flex-flow: row nowrap;
      padding: 40px 0;
    }

    &__question {
      margin: 0;
      width: 30%;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__answer {
      width: 75%;
      padding-left: 7%;
    }

    &__item {
      padding: 60px 0;
    }

    &__question {
      width: 25%;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__item {
      padding: 60px 0;
    }

  } // min width xxl

} // .faqs
