.fifty-fifty {

  &__content {
    padding: 0 var(--theme-inset-size);
  }

  &__cta {
    margin-top: 40px;
    .link {
      width: 100%;
    }
  }

  &__heading {
    & + .fifty-fifty__message {
      margin-top: 32px;
    }
  }

  &__image {
    width: calc(100% + ( 2 * var(--bs-gutter-width)));
    left: calc(-1 * var(--bs-gutter-width));
    position: relative;
    & + .fifty-fifty__content {
      margin-top: 40px;
    }
  }

  @include breakpoint(sm) {

    &__content {
      padding: 0 var(--theme-inset-size--sm);
    }

    &__cta {
      .link {
        width: auto;
      }
    }

    &__image {
      width: 100%;
      left: unset;
    }

  } // min width sm

  @include breakpoint(md) {

    &__content {
      padding: 0 var(--theme-inset-size--md);
    }

  } // min width md

  @include breakpoint(lg) {

    &__content,
    &__image {
      width: 50%;
    }

    &__content {
      padding: 0 8%;
    }

    &__image {
      & + .fifty-fifty__content {
        margin-top: 0;
      }
    }

    [data-layout] {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      display: flex;
    }

    [data-layout="image-left"] {
      .fifty-fifty__content {
        order: 2;
      }
      .fifty-fifty__image {
        order: 1;
      }
    }

    [data-layout="image-right"] {
      .fifty-fifty__content {
        order: 1;
      }
      .fifty-fifty__image {
        order: 2;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .fifty-fifty
