//////////////////////////////////////////////////////////
////  Form | Variables
//////////////////////////////////////////////////////////

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {

  position: relative;
  overflow: hidden;
  font-size: 12px;

  .error {
    .error-message {
      //transform: translate3d( 0, 0, 0 );
      //opacity: 1;
    }
    &.field {
      // margin-bottom: 5px;
    }
    .input,
    .textarea {
      border-bottom-color: red;
    }
  }

  .error-message {
    transition:
      opacity var(--theme-transition-duration),
      transform var(--theme-transition-duration);
    position: absolute;
    font-style: italic;
    text-align: right;
    top: 100%;
    right: 0;
    transform: translate3d( -5px, 0, 0 );
    opacity: 0;
  }

  .field {
    transition: margin var(--theme-transition-duration);
    & + .field {
      margin-top: 22px;
    }
    &--rude {
      position: absolute;
      left: -9999px;
      top: 0;
      & + .field {
        margin-top: 0;
      }
    }
  }

  .heading {}

  .input {}

  .label {}

  .required-marker {}

  .section {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    & + .section {
      margin-top: 22px;
    }
  }

  .select {}

  .textarea {}

  [disabled] {
    cursor: no-drop;
    pointer-events: none;
  }

  &__field {
    &-group {
      &--hidden {
        display: none;
      }
    }
  }

  &__heading {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }

  &__loading {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__main {
    transition: opacity var(--theme-transition-duration);
    opacity: 1;
    position: relative;
  }

  &__spinner {
    border: 2px solid rgba( var(--theme-colour-black), 0.5);
    border-left-color: rgba( var(--theme-colour-black), 1);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transform: translate3d(0, 0, 0);
  }

  &.posting {
    .form__main {
      opacity: 0.15;
    }
    .form__loading {
      z-index: 10;
      display: flex;
    }
    .form__spinner {
      animation: loading 1.0s infinite linear;
    }
  }

} // .form
