//////////////////////////////////////////////////////////
////  Glider | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Glider | Styles
//////////////////////////////////////////////////////////

.glide {

  position: relative;

  &__button {
    height: 18px;
    width: auto;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__slide {
    margin: 0;
    padding: 0;
    & + .glide__slide {
      margin-top: 0;
    }
  }

  &__track {
    transition: height 280ms;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__button {
      height: 32px;
      margin-top: -16px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &__button {
      height: 38px;
      margin-top: -19px;
    }

  } // min width xxl

} // .button
