//////////////////////////////////////////////////////////
////  Heading | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Heading | Styles
//////////////////////////////////////////////////////////

.heading {

  font-family: var(--theme-font-family--sans-serif--primary);
  margin: 0;
  padding: 0;

  &--1,
  &--2,
  &--3,
  &--5 {
    @extend .heading;
    font-style: normal;
    font-weight: 600;
  }

  &--1 {
    font-size: 35px;
    line-height: 1.29;
    letter-spacing: -1px;
  }

  &--2 {
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: -1px;
  }

  &--3 {
    font-size: 18px;
  }

  &--5 {
    font-size: 20px;
    line-height: 1.25;
  }

  @include breakpoint(lg) {

    &--1 {
      font-size: 50px;
      line-height: 1.25;
    }

    &--2 {
      font-size: 35px;
      line-height: 1.22;
    }

    &--3 {
      font-size: 28px;
    }

    &--5 {
      font-size: 22px;
      line-height: 1.2;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--1 {
      font-size: 58px;
    }

    &--2 {
      font-size: 42px;
    }

    &--3 {
      font-size: 30px;
    }

    &--5 {
      font-size: 24px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--1 {
      font-size: 64px;
    }

    &--2 {
      font-size: 48px;
    }

    &--3 {
      font-size: 32px;
    }

    &--5 {
      font-size: 26px;
    }

  } // min width xxl

} // .heading
