//////////////////////////////////////////////////////////
////  Hero | Variables
//////////////////////////////////////////////////////////

$hero-border-size: 0px;
$hero-border-size--sm: 0px;
$hero-border-size--md: 20px;
$hero-border-size--lg: 32px;
$hero-border-size--xl: 50px;
$hero-border-size--xxl: 50px;

$corner-shape-height: 65px;
$corner-shape-height--sm: 75px;
$corner-shape-height--md: 85px;

//////////////////////////////////////////////////////////
////  Hero | Styles
//////////////////////////////////////////////////////////

.hero {

  border-color: $theme-off-white;
  border-width: $hero-border-size;
  color: $theme-off-white;
  border-style: solid;
  margin-bottom: 55px;

  &__content {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
  }

  &__corner-shape {
    position: absolute;
    top: -($corner-shape-height);
    right: 0;
    width: 100%;
    height: $corner-shape-height;
    z-index: 0;
    span {
      display: block;
      width: 0;
      height: 0;
      border-bottom: $corner-shape-height solid $theme-off-white;
      border-left: 200px solid transparent;
    }
  }

  &__heading {
    margin: 0;
    & + .hero__message {}
  }

  &__heading,
  &__message {
    & + .hero__cta {
      //margin-top: 10px;
    }
  }

  &__main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // ----------------------------------------- Index
  &--index {
    .cta {
      &--circle {
        a {
          width: $theme-cta-circle-size + 18px;
          height: $theme-cta-circle-size + 18px;
        }
        .cta__inner-circle {
          width: $theme-cta-circle-size + 18px - $theme-cta-circle-offset;
          height: $theme-cta-circle-size + 18px - $theme-cta-circle-offset;
        }
      }
    }
    .hero {
      &__content {
        text-align: left;
      }
      &__cta {
        position: absolute;
        top: -($theme-cta-circle-size);
        right: -18px;
        z-index: 10;
      }
      &__main {
        color: $theme-black;
        position: relative;
        height: auto;
        padding: 18px 0 0 0;
      }
    }
  }

  @include breakpoint(sm) {

    border-width: $hero-border-size--sm;
    border-top: none;

    &__corner-shape {
      top: -($corner-shape-height--sm);
      height: $corner-shape-height--sm;
      span {
        border-bottom-width: $corner-shape-height--sm;
      }
    }

    // ----------------------------------------- Index
    &--index {
      .cta {
        &--circle {
          a {
            width: $theme-cta-circle-size--sm + 25px;
            height: $theme-cta-circle-size--sm + 25px;
          }
          .cta__inner-circle {
            width: $theme-cta-circle-size--sm + 25px - $theme-cta-circle-offset;
            height: $theme-cta-circle-size--sm + 25px - $theme-cta-circle-offset;
          }
        }
      }
      .hero {
        &__cta {
          top: -( $theme-cta-circle-size--sm );
          right: -15px;
        }
        &__main {
          padding: 10px 0 0 0;
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    border-width: $hero-border-size--md;
    border-top: none;
    margin-bottom: 65px;

    &__corner-shape {
      top: -($corner-shape-height--md);
      height: $corner-shape-height--md;
      span {
        border-bottom-width: $corner-shape-height--md;
      }
    }

    // ----------------------------------------- Index
    &--index {
      .cta {
        &--circle {
          a {
            width: $theme-cta-circle-size--md + 35px;
            height: $theme-cta-circle-size--sm + 35px;
          }
          .cta__inner-circle {
            width: $theme-cta-circle-size--md + 35px - $theme-cta-circle-offset;
            height: $theme-cta-circle-size--md + 35px - $theme-cta-circle-offset;
          }
        }
      }
      .hero {
        &__cta {
          top: -( $theme-cta-circle-size--md );
          right: 0;
        }
        &__main {
          padding: 15px 0 0 0;
        }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    border-width: $hero-border-size--lg;
    border-top: none;
    margin-bottom: 85px;

    &__content {
      width: 33.3333%;
    }

    &__corner-shape {
      display: none;
    }

    &__heading {
      & + .hero__message {
        margin-top: 12px;
      }
    }

    &__heading,
    &__message {
      & + .hero__cta {
        margin-top: 14px;
      }
    }

    // ----------------------------------------- Index
    &--index {
      .cta {
        &--circle {
          a {
            width: $theme-cta-circle-size--lg;
            height: $theme-cta-circle-size--lg;
          }
          .cta__inner-circle {
            width: $theme-cta-circle-size--lg - $theme-cta-circle-offset;
            height: $theme-cta-circle-size--lg - $theme-cta-circle-offset;
          }
        }
      }
      .hero {
        &__cta {
          position: relative;
          top: unset;
          right: unset;
        }
        &__content {
          text-align: left;
        }
        &__main {
          color: $theme-white;
          position: absolute;
          height: 100%;
          padding: 0;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    border-width: $hero-border-size--xl;
    border-top: none;
    margin-bottom: 95px;

    &__heading {
      & + .hero__message {
        margin-top: 16px;
      }
    }

    &__heading,
    &__message {
      & + .hero__cta {
        margin-top: 18px;
      }
    }

    // ----------------------------------------- Index
    &--index {
      .cta {
        &--circle {
          a {
            width: $theme-cta-circle-size--xl;
            height: $theme-cta-circle-size--xl;
          }
          .cta__inner-circle {
            width: $theme-cta-circle-size--xl - $theme-cta-circle-offset;
            height: $theme-cta-circle-size--xl - $theme-cta-circle-offset;
          }
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    border-width: $hero-border-size--xxl;
    border-top: none;

    &__heading {
      & + .hero__message {
        margin-top: 18px;
      }
    }

    &__heading,
    &__message {
      & + .hero__cta {
        margin-top: 20px;
      }
    }

    // ----------------------------------------- Index
    &--index {
      .cta {
        &--circle {
          a {
            width: $theme-cta-circle-size--xxl;
            height: $theme-cta-circle-size--xxl;
          }
          .cta__inner-circle {
            width: $theme-cta-circle-size--xxl - $theme-cta-circle-offset;
            height: $theme-cta-circle-size--xxl - $theme-cta-circle-offset;
          }
        }
      }
    }

  } // min width xxl

} // .hero
