//////////////////////////////////////////////////////////
////  Hero | Variables
//////////////////////////////////////////////////////////

$hero-border-size: 0px;
$hero-border-size--sm: 0px;
$hero-border-size--md: 20px;
$hero-border-size--lg: 32px;
$hero-border-size--xl: 50px;
$hero-border-size--xxl: 50px;

$corner-shape-height: 65px;
$corner-shape-height--sm: 75px;
$corner-shape-height--md: 85px;

//////////////////////////////////////////////////////////
////  Hero | Styles
//////////////////////////////////////////////////////////

.hero {

  margin-bottom: 55px;
  color: rgba(var(--theme-colour-white),1);

  &__content {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
  }

  &__heading {
    margin: 0;
    & + .hero__message {}
  }

  &__heading,
  &__message {
    & + .hero__cta {
      //margin-top: 10px;
    }
  }

  &__main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .hero
