//////////////////////////////////////////////////////////
////  iFrame | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  iFrame | Styles
//////////////////////////////////////////////////////////

iframe {

  display: block;
  width: 100%;

  &[data-aspect-ratio="16-9"] {
    height: 56.25vw; /* H / W */
    min-height: 100vh;
    min-width: 177.77vh; /* W / H */
  }

  &[data-aspect-ratio='4-3'] {
    height: 75vw; /* H / W */
    min-height: 100vh;
    min-width: 133.33vh; /* W / H */
  }

  &[data-aspect-ratio='1-1'] {
    height: 100vw; /* H / W */
    min-height: 100vh;
    min-width: 100vh; /* W / H */
  }

}
