//////////////////////////////////////////////////////////
////  Image with Text | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image with Text | Styles
//////////////////////////////////////////////////////////

.image-with-text {

  &__image,
  &__message {
    width: 100%;
    height: auto;
    .cta {
      padding-top: 12px;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    & > div {
      & + div {
        margin-top: 36px;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__content {
      flex-flow: row nowrap;
      & > div {
        & + div {
          margin-top: 0;
        }
      }
    }

    &__image,
    &__message {
      width: 50%;
    }

    &[data-layout="image-left"] {
      .image-with-text {
        &__image {
          order: 1;
        }
        &__message {
          order: 2;
          padding-left: 6%;
          padding-right: 4%;
        }
      }
    }

    &[data-layout="image-right"] {
      .image-with-text {
        &__image {
          order: 2;
        }
        &__message {
          order: 1;
          padding-left: 4%;
          padding-right: 6%;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // image-with-text
