//////////////////////////////////////////////////////////
////  Image Glider | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image Glider | Styles
//////////////////////////////////////////////////////////

.image-glider {

  &__content {
    display: flex;
    flex-flow: row wrap;
    padding: 24px;
    padding-bottom: 0;
  }

  &__heading {
    font-size: 26px;
    margin-bottom: 10px;
  }

  &__item {
    padding: 0 20px;
  }

  padding: 0 $theme-padding;

  @include breakpoint(sm) {

    padding: 0 $theme-padding--sm;

    &__content {
      padding: 27px;
    }

    &__item {
      padding: 0 20px;
    }

  } // min width sm

  @include breakpoint(md) {

    padding: 0 $theme-padding--md;

    &__content {
      padding: 30px;
    }

    &__item {
      padding: 0 20px;
    }

  } // min width md

  @include breakpoint(lg) {

    padding: 0 $theme-padding--lg;

    &__content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    &__heading {
      margin: 0;
    }

    &__item {
      padding: 0 30px;
    }

    &__message {
      width: 66%;
      border-left: 1px solid #ababab;
      padding-left: 40px;
      margin-left: 40px;
    }

  } // min width lg

  @include breakpoint(xl) {

    padding: 0 $theme-padding--xl;

    &__item {
      padding: 0 50px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    padding: 0 $theme-padding--xxl;

    &__content {}

    &__item {
      padding: 0 60px;
    }

  } // min width xxl

} // image-with-text
