.input {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration);
  color: rgba(var(--theme-colour-black),1);
  font-family: var(--theme-font-family--sans-serif--primary);
  background: transparent;
  outline: none;
  border: none;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  width: 100%;

  &--email,
  &--primary,
  &--tel,
  &--text {
    @extend .input;
    background: #F3F1DD;
    padding: 8px 6px;
    min-height: 48px;
    @include placeholder {
      color: rgba(var(--theme-colour-black),1);
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--email,
    &--primary,
    &--tel,
    &--text {
      min-height: 42px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
