//////////////////////////////////////////////////////////
////  Lazy Loader | Vars
//////////////////////////////////////////////////////////

$base: 25;
$step: 25;
$limit: 4000;

//////////////////////////////////////////////////////////
////  Lazy Loader | Styles
//////////////////////////////////////////////////////////

.lazyload-item {

  transition-property: opacity;
  opacity: 0;
  display: block;

  &--inline {
    height: auto;
    width: 100%;
  }

  &--background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    &.lazyload-item--embed {
      transform: translate3d( -50%, -50%, 0 );
      top: 50%;
      left: 50%;
    }
    &.lazyload-item--image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.lazyload-item--video {
      object-fit: cover;
      object-position: center center;
    }
  }

  &.lazyloaded {
    opacity: 1;
  }

  &[data-aspect-ratio='4-3'] {
    height: 75vw; /* H / W */
    min-height: 100vh;
    min-width: 133.33vh; /* W / H */
  }

  &[data-aspect-ratio='16-9'] {
    height: 56.25vw; /* H / W */
    min-height: 100vh;
    min-width: 177.77vh; /* W / H */
  }

  @while $base < $limit {

    &[data-transition-duration='#{$base}'] {
      transition-duration: $base * 1ms;
    }

    &[data-transition-delay='#{$base}'] {
      transition-delay: $base * 1ms;
    }

    $base: $base + $step;

  }

} // .lazyload-item
