//////////////////////////////////////////////////////////
////  Lead Generator | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Lead Generator | Styles
//////////////////////////////////////////////////////////

.lead-generator {

  text-align: center;

  a {
    display: block;
  }

  // ----------------------------------------- Flexible Content
  &--flexible-content {
    .form {
      padding: 20px 0 0 0;
      input {
        border-bottom: 1px solid $theme-black;
        text-align: center;
      }
      .error {
        input {
          border-bottom: 1px solid $theme-red;
          background: rgba( $theme-red, 0.025 );
        }
      }
      &__action {
        margin: 24px 0 0 0;
      }
      &__button {
        background: $theme-black;
        color: $theme-white;
        border-radius: 999px;
        &:hover {
          background: lighten( $theme-black, 33.3333% );
        }
      }
      &__field {
        width: 100%;
        max-width: 230px;
      }
      &__row {
        justify-content: center;
      }
    }
    .lead-generator {
      &__content {
        background: $theme-off-white;
        color: $theme-black;
        padding: 50px 0;
        width: 80%;
        margin: auto;
        text-align: center;
      }
      &__heading {
        font-family: $sans-serif--muli;
        font-style: italic;
        font-weight: 800;
        font-size: 30px;
        line-height: 1.3;
      }
    }
  }

  // ----------------------------------------- Main
  &--main {
    .form {
      padding-top: 30px;
      padding-bottom: 65px;
      input {
        border: none;
        outline: none;
        background: none;
        border-bottom: 1px solid $theme-black;
        font-size: 12px;
        font-weight: 100;
      }
      .error {
        input {
          border-bottom: 1px solid $theme-red;
          background: rgba( $theme-red, 0.025 );
        }
      }
      &__button {
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: .9;
        padding: 8px;
        margin-left: 8px;
        min-width: 0;
      }
      &__fields {
        width: 45%;
      }
      &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
      }
      &__field,
      &__row {
        width: 100%;
      }
    }
    .lead-generator {
      &__heading {
        font-size: 24px;
        margin: 0 0 8px 0;
      }
      &__image {
        width: 90%;
        margin: 20px auto 0;
        a {
          width: 100%;
        }
      }
    }
  }

  @include breakpoint(sm) {

    // ----------------------------------------- Flexible Content
    &--flexible-content {
      .lead-generator {
        &__content {
          padding: 65px 0;
        }
      }
    }

    // ----------------------------------------- Main
    &--main {
      .form {
        input {
          font-size: 12px;
        }
        &__button {
          font-size: 9px;
        }
        &__fields {
          width: 45%;
        }
      }
      .lead-generator {}
    }

  } // min width sm

  @include breakpoint(md) {

    // ----------------------------------------- Flexible Content
    &--flexible-content {
      .lead-generator {
        &__content {
          padding: 75px 0;
        }
      }
    }

    // ----------------------------------------- Main
    &--main {
      .form {
        padding-top: 40px;
        padding-bottom: 85px;
      }
      .lead-generator {
        &__heading {
          font-size: 26px;
          margin: 0 0 10px 0;
        }
        &__image {
          margin: 25px auto 0;
        }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    // ----------------------------------------- Flexible Content
    &--flexible-content {
      .form {}
      .lead-generator {
        &__content {
          background: $theme-white;
          color: $theme-black;
          padding: 50px 70px;
          width: 550px;
          height: auto;
        }
        &__heading {
          font-size: 35px;
        }
        &__main {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-content: center;
        }
      }
    }

    // ----------------------------------------- Main
    &--main {
      .form {
        padding-top: 50px;
        padding-bottom: 100px;
        input {
          font-size: 12px;
        }
        &__button {
          font-size: 10px;
        }
        &__fields {
          width: 35%;
        }
      }
      .lead-generator {
        &__heading {
          font-size: 28px;
          margin: 0 0 12px 0;
        }
        &__image {
          margin: 30px auto 0;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    // ----------------------------------------- Flexible Content
    &--flexible-content {
      .lead-generator {}
    }

    // ----------------------------------------- Main
    &--main {
      .form {
        padding-top: 60px;
        padding-bottom: 125px;
      }
      .lead-generator {
        &__heading {
          font-size: 32px;
        }
        &__image {
          margin: 35px auto 0;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .lead-generator
