//////////////////////////////////////////////////////////
////  Link | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Link | Styles
//////////////////////////////////////////////////////////

.link {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  text-decoration: none;
  outline: none;
  border: none;

  &--primary {
    @extend .link;
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #9DBC89;
    color: #FFFEF9;
    border-radius: 62px;
    min-height: 55px;
    padding: 0 30px;
    text-transform: uppercase;
    &:focus,
    &:hover {
      background: #6e8460;
      color: #FFFEF9;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--primary {
      min-height: 60px;
      font-size: 14px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--primary {
      font-size: 16px;
    }

  } // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .link
