//////////////////////////////////////////////////////////
////  Magazine | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Magazine | Styles
//////////////////////////////////////////////////////////

.magazine {

  padding-top: 45px;
  padding-bottom: 75px;

  .article {

    width: 100%;
    margin-bottom: 55px;
    padding: 0;

    a {
      color: #222222;
    }

    &__category {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 20px;
      left: -20px;
      display: block;
      z-index: 10;
      line-height: 0.9;
      font-size: 10px;
      a {
        transition: opacity 280ms;
        transform: rotate(-90deg);
        transform-origin: top left;
        line-height: 0.9;
        color: #222222;
        opacity: 0.33;
        &:hover {
          opacity: 1;
        }
      }
    }

    &__content {
      padding: 0 25px;
      text-align: left;
    }

    &__title {
      font-size: 24px;
      margin: 22px 0 0 0;
    }

    &__featured-images {
      margin-top: 0;
    }

    &__featured-image {
      margin: 0;
      padding: 0;
      &--landscape {
        display: none;
      }
      &--portrait {
        display: block;
      }
    }

  }

  .menu {

    &__item,
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        color: inherit;
      }
    }

    &__item {
      color: #222222;
      font-weight: 900;
      font-size: 13px;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 0 16px;
      width: 100%;
      text-align: center;
      & + .menu__item {
        margin-top: 24px;
      }
    }

    &__list {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }

  }

  .pagination {

    &__button {
      font-size: 13px;
    }

    &__links-item {
      font-size: 10px;
    }

  }

  &__body {
    margin-top: 48px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 $theme-padding;
  }

  &__brand {
    margin: 0 auto;
    width: 190px;
    height: auto;
    a, img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__date {
    display: none;
    transition: opacity 750ms, transform 500ms;
    margin-top: 32px;
    color: #C2C2C2;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transform: translate3d( 0, 15px, 0 );
    span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 6px;
    }
    &.shown {
      opacity: 1;
      transform: translate3d( 0, 0, 0 );
    }
  }

  &__footer {}

  &__header {}

  &__menu {
    margin-top: 48px;
  }

  @include breakpoint(sm) {

    .article {
      margin-bottom: 65px;
      &__title {
        font-size: 28px;
        margin: 22px 0 0 0;
      }
    }

    &__body {
      padding: 0 $theme-padding--sm;
    }

  } // min width sm

  @include breakpoint(md) {

    .article {
      margin-bottom: 75px;
      &__category {
        font-size: 11px;
      }
      &__title {
        font-size: 30px;
        margin: 22px 0 0 0;
      }
    }

    .pagination {
      &__button {
        font-size: 16px;
      }
      &__links-item {
        font-size: 12px;
      }
    }

    &__body {
      padding: 0 $theme-padding--md;
    }

  } // min width md

  @include breakpoint(lg) {

    padding-top: 70px;
    padding-bottom: 140px;

    .article {

      width: 50%;
      margin-bottom: 110px;

      &__category {
        font-size: 13px;
        left: -25px;
      }

      &__title {
        font-size: 28px;
        margin: 22px 0 0 0;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(6) {
        padding-right: $theme-padding--lg * 0.5;
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(7) {
        padding-left: $theme-padding--lg * 0.5;
      }

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        .article {
          &__featured-image {
            &--landscape {
              display: block;
            }
            &--portrait {
              display: none;
            }
          }
        }
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(7) {
        .article {
          &__featured-image {
            &--landscape {
              display: none;
            }
            &--portrait {
              display: block;
            }
          }
        }
      }

      &[data-post-count="5"] {
        width: 100%;
      }

    }

    .menu {
      margin-top: 42px;
      &__list {
        flex-flow: row nowrap;
      }
      &__item {
        margin: 0 38px;
        width: auto;
        & + .menu__item {
          margin-top: 0;
        }
      }
    }

    .pagination {

      &__button {
        font-size: 25px;
      }

      &__links-item {
        font-size: 17px;
      }

    }

    &__body {
      padding: 0 $theme-padding--lg;
      margin-top: 95px;
    }

    &__brand {
      width: 330px;
      margin: 0 auto;
    }

    &__date {
      font-size: 13px;
    }

  } // min width lg

  @include breakpoint(xl) {

    .article {

      margin-bottom: 120px;

      &__title {
        font-size: 33px;
        margin: 24px 0 0 0;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(6) {
        padding-right: $theme-padding--xl * 0.5;
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(7) {
        padding-left: $theme-padding--xl * 0.5;
      }

    }

    .menu {
      margin-top: 46px;
      &__item {
        margin: 0 42px;
      }
    }

    &__body {
      padding: 0 $theme-padding--xl;
      margin-top: 105px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    .article {

      margin-bottom: 130px;

      &__title {
        font-size: 34px;
        margin: 24px 0 0 0;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(6) {
        padding-right: $theme-padding--xxl * 0.5;
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(7) {
        padding-left: $theme-padding--xxl * 0.5;
      }

    }

    .menu {
      margin-top: 50px;
      &__item {
        margin: 0 45px;
      }
    }

    &__body {
      padding: 0 $theme-padding--xxl;
      margin-top: 115px;
    }

  } // min width xxl

} // .magazine
