.magazine-header {

  .navigation {
    width: 100%;
    margin-top: 48px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &__item,
    &__link {
      line-height: .9;
    }
    &__item {
      & + .navigation__item {
        margin-top: 24px;
      }
    }
    &__link {
      font-family: var(--theme-font-family--sans-serif--secondary);
      color: #222;
      font-weight: 900;
      font-size: 13px;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .navigation {
      margin-top: 42px;
      flex-flow: row nowrap;
      &__item {
        margin: 0 38px;
        & + .navigation__item {
          margin-top: 0;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .navigation {
      &__item {
        margin: 0 42px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .navigation {
      &__item {
        margin: 0 45px;
      }
    }

  } // min width xxl

}
