//////////////////////////////////////////////////////////
////  Menu | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Menu | Styles
//////////////////////////////////////////////////////////

.menu {

  &__item,
  &__list {
    @include list-reset;
  }

  &__item {
    line-height: 0.9;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .menu
