//////////////////////////////////////////////////////////
////  Navigation | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Navigation | Styles
//////////////////////////////////////////////////////////

.navigation {

  display: inline-flex;
  width: auto;

  &__link {
    transition:
      border var(--theme-transition-duration),
      color var(--theme-transition-duration),
      opacity var(--theme-transition-duration);
  }

} // .navigation
