//////////////////////////////////////////////////////////
////  Newsletter | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Comment | Styles
//////////////////////////////////////////////////////////

.newsletter {

  .form {}

  &__banner {
    width: 90%;
    display: block;
    margin: 20px auto 0px;
    a, img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &--footer {
    .newsletter {}
  }

  &--main {
    text-align: center;
    margin-bottom: 50px;
    .form {
      margin-top: 30px;
      input {
        @include placeholder {
          color: $theme-black;
        }
        border-bottom-color: $theme-black;
        font-size: 12px;
        font-weight: 100;
        width: 162px;
      }

      &__button {
        width: auto;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 9px;
        color: #333;
        border: none;
        font-weight: 700;
        letter-spacing: .05em;
        line-height: .9;
        padding: 8px;
        margin-left: 8px;
      }
      &__field {
        &.error {
          input {
            border-bottom-color: red;
          }
        }
      }
      &__row {
        width: auto;
      }
    }
    .newsletter {}
  }

  @include breakpoint(sm) {

    .form {}

    &__banner {
      width: 100%;
      max-width: 468px;
    }

    &--footer {
      .newsletter {}
    }

    &--main {
      .form {
        input {
          width: 182px;
        }
      }
      .newsletter {}
    }

  } // min width sm

  @include breakpoint(md) {

    .form {}

    &__banner {
      margin-top: 25px;
      max-width: 648px;
    }

    &--footer {
      .newsletter {}
    }

    &--main {
      margin-bottom: 70px;
      .form {
        margin-top: 40px;
        input {
          width: 252px;
        }
        &__button {
          margin-left: 10px;
        }
      }
      .newsletter {}
    }

  } // min width md

  @include breakpoint(lg) {

    .form {}

    &__banner {
      margin-top: 30px;
      max-width: 558px;
    }

    &--footer {
      .newsletter {



      }
    }

    &--main {
      margin-bottom: 90px;
      .form {
        margin-top: 50px;
        input {
          width: 216px;
        }
      }
      .newsletter {


      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .form {}

    &__banner {
      margin-top: 35px;
      max-width: 690px;
    }

    &--footer {
      .newsletter {



      }
    }

    &--main {
      margin-bottom: 105px;
      .form {
        margin-top: 60px;
        input {
          width: 268px;
        }
      }
      .newsletter {


      }
    }

  } // min widthl

  @include breakpoint(xxl) {} // min width xxl

} // .newsletter
