.nu-lead-generation {

  position: relative;
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--theme-header-height));
  padding: 50px 0;
  justify-content: center;
  align-items: center;

  .form {
    &__field {
      position: relative;
      display: flex;
      justify-content: flex-start;
      &--rude,
      &--websource {
        position: absolute;
        left: -123234234px;
      }
    }
    &__button {
      width: 100%;
    }
  }

  &__heading,
  &__message {
    text-align: center;
    & + .nu-lead-generation__form {
      margin-top: 32px;
    }
  }

  &__main {
    background: #fafafa;
    padding: 50px 32px;
    position: relative;
    z-index: 1;
    width: calc( 100% - 40px );
    max-width: 360px;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  @include breakpoint(sm) {

    min-height: calc(100vh - var(--theme-header-height--sm));

  } // min width sm

  @include breakpoint(md) {

    min-height: calc(100vh - var(--theme-header-height--md));

  } // min width md

  @include breakpoint(lg) {

    min-height: calc(100vh - var(--theme-header-height--lg));

    &__main {
      padding: 46px;
      min-width: 480px;
    }

  } // min width lg

  @include breakpoint(xl) {

    min-height: calc(100vh - var(--theme-header-height--xl));

  } // min width xl

  @include breakpoint(xxl) {

    min-height: calc(100vh - var(--theme-header-height--xxl));

  } // min width xxl

}
