//////////////////////////////////////////////////////////
////  Pagination | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Pagination | Styles
//////////////////////////////////////////////////////////

.pagination {

  padding: 0 $theme-padding;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;

  a {
    transition: color 280ms, opacity 280ms;
  }

  &__button {
    font-family: $serif--gfs-didot;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2.86px;
    span {
      color: #222222;
      opacity: 0.15;
    }
    a {
      color: #222222;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__links,
  &__links-item {
    font-family: $sans-serif--muli;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3.86px;
    span {
      color: #222222;
    }
    a {
      color: #C2C2C2;
      &:hover {
        color: #222222;
      }
    }
  }

  &__links {
    display: inline-flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
  }

  &__links-item {
    margin: 0 6px;
  }

  &__vr {
    display: block;
    height: 60px;
    width: 1px;
    background: #C2C2C2;
  }

  @include breakpoint(sm) {

    padding: 0 $theme-padding--sm;

  } // min width sm

  @include breakpoint(md) {

    padding: 0 $theme-padding--md;

  } // min width md

  @include breakpoint(lg) {

    padding: 0;
    margin-top: 100px;
    justify-content: center;
    max-width: none;

    &__button {
      font-size: 25px;
    }

    &__button,
    &__links {
      padding: 0 90px;
    }

    &__links,
    &__links-item {
      font-size: 17px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    margin-top: 140px;

  } // min width xxl

} // .pagination
