.share-post {

  $share-icon-size: 20px;
  $share-icon-size--lg: 24px;

  margin-top: 64px;

  &__share-item,
  &__share-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__heading {
    font-family: $serif--gfs-didot;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1.37px;
    text-align: center;
    & + .share-post__share-list {
      margin-top: 14px;
    }
  }

  &__share-item {
    height: $share-icon-size;
    width: $share-icon-size;
    margin: 0 18px;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
    a {
      transition: opacity 280ms;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__share-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(lg) {

    &__heading {
      font-size: 16px;
    }

    &__share-item {
      height: $share-icon-size--lg;
      width: $share-icon-size--lg;
      margin: 0 22px;
    }

  }

}
