//////////////////////////////////////////////////////////
////  Team | Variables
//////////////////////////////////////////////////////////

$gutter: 20px;

//////////////////////////////////////////////////////////
////  Team | Styles
//////////////////////////////////////////////////////////

.team {

  &__group-info-list,
  &__group-info-item {
    @include list-reset;
  }

  &__group-info-item {
    display: none;
    &.active {
      display: block;
    }
  }

  &__group {
    display: none;
    &.active {
      display: block;
    }
  }

  &__grid {
    @include clearfix;
    margin-left: calc( $gutter/-2 );
    margin-right: calc( $gutter/-2 );
    margin-bottom: calc( $gutter * -2 );
    width: 100%;
    display: block;
    padding: 0;
  }

  &__grid-item {
    display: block;
    margin-left: calc($gutter/2);
    margin-right: calc($gutter/2);
    margin-bottom: calc($gutter * 2);
    width: 100%;
    float: left;
    &:not(.team__grid-item--bio) {
      width: 30%;
      width: calc( (100% / 3) - #{$gutter} );
    }
    &--bio {
      margin-bottom: 0;
      padding-bottom: $gutter * 3;
    }
    &.active {
      .team-member {
        &__photo {
          border: 1px solid black;
        }
      }
    }
  }

  &__group-info-item {
    font-family: $serif--gfs-didot;
    color: #000;
    font-weight: 300;
    display: none;
    p, li {
      font-family: inherit;
      font-weight: inherit;
    }
    &.active {
      display: block;
    }
  }

  &__group-info-list {
    padding: 30px 0;
  }

  &__message {
    li, p {
      @include body-copy( 1, 2.08, 300 );
    }
  }

  &__nav,
  &__nav-list,
  &__nav-item {
    @include list-reset;
  }

  &__nav-item {
    font-family: $serif--gfs-didot;
    transition: opacity 280ms;
    font-weight: 300;
    line-height: .9;
    font-size: 30px;
    cursor: pointer;
    opacity: .33;
    &.active,
    &:hover {
      opacity: 1;
    }
    & + .team__nav-item {
      margin-left: 30px;
    }
  }

  &__nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &__group-info-list {
      padding: 35px 0;
    }

  } // min width md

  @include breakpoint(lg) {

    &__group {
      padding-left: 45px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__group {
      padding-left: 55px;
    }

  } // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
