//////////////////////////////////////////////////////////
////  Team Member | Variables
//////////////////////////////////////////////////////////

$social-icon-size: 34px;
$social-icon-size--sm: 36px;
$social-icon-size--md: 32px;
$social-icon-size--lg: 34px;

//////////////////////////////////////////////////////////
////  Team Member | Styles
//////////////////////////////////////////////////////////

.team-member {

  &__bio {
    li, p {
      @include body-copy( 1, 2.08, 200 );
    }
  }

  &__hr,
  &__name {
    margin: 0 0 14px 0;
  }

  &__hr {
    background: #000000;
    width: 100%;
    height: 1px;
    display: block;
  }

  &__social {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

  &__social-item {
    height: $social-icon-size;
    width: $social-icon-size;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__photo {
    transition: all 280ms;
    border: 1px solid transparent;
    width: 100%;
    height: auto;
    cursor: pointer;
    img {
      display: block;
      width: 100% !important;
      height: auto;
    }
    &:hover {
      border: 1px solid rgba( black, 0.66 );
    }
  }

  &__name {
    font-family: $serif;
    color: #000;
    font-weight: 300;
    line-height: .9;
    font-size: 14px;
    .first,
    .middle,
    .last {
      display: inline-block;
      width: 100%;
    }
    .middle {
      display: none;
    }
  }

  @include breakpoint(sm) {

    &__name {
      font-size: 16px;
    }

    &__social-item {
      height: $social-icon-size--sm;
      width: $social-icon-size--sm;
    }

  } // min width sm

  @include breakpoint(md) {

    &__name {
      span + span {
        margin-left: 5px;
      }
      .first,
      .middle,
      .last {
        width: auto;
      }
    }

    &__social-item {
      height: $social-icon-size--md;
      width: $social-icon-size--md;
    }

  } // min width md

  @include breakpoint(lg) {

    &__name {
      font-size: 15px;
    }

    &__social-item {
      height: $social-icon-size--lg;
      width: $social-icon-size--lg;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__name {
      font-size: 16px;
    }

  } // min width lg

  @include breakpoint(xxl) {

    &__name {
      font-size: 18px;
    }

  } // min width lg

} // .team-member
