.textarea {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration);
  color: rgba(var(--theme-colour-black),1);
  font-family: var(--theme-font-family--sans-serif--primary);
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background: #F3F1DD;
  padding: 10px 6px;
  min-height: 200px;

  @include placeholder {
    color: rgba(var(--theme-colour-black),1);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    min-height: 250px;

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    min-height: 300px;

  } // min width xxl

}
