//////////////////////////////////////////////////////////
////  Error 404 | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Error 404 | Styles
//////////////////////////////////////////////////////////

.error-404 {

  min-height: 100%;
  height: 100%;
  height: 100vh;

  .cta {

  }

  &__icon {
    width: 220px;
    margin: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .cta,
    & + .error-404__heading,
    & + .error-404__message {
      margin-top: 30px;
    }
  }

  &__heading {
    & + .cta,
    & + .error-404__message {
      margin-top: 30px;
    }
  }

  &__main {
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__message {
    color: #c2c2c2;
    & + .cta {
      margin-top: 40px;
    }
  }

  @include breakpoint(sm) {} // min width sm

   @include breakpoint(md) {} // min width md

   @include breakpoint(lg) {} // min width lg

   @include breakpoint(xl) {} // min width xl

   @include breakpoint(xxl) {} // min width xxl

} // .error-404
