//////////////////////////////////////////////////////////
////  Body | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Body | Styles
//////////////////////////////////////////////////////////

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {

  background: $theme-off-white;
  overflow-x: hidden;

  a {
    text-decoration: none;
    outline: none;
    &:focus,
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }

  &.sticky-footer {
    display: flex;
    flex-direction: column;
    main {
      flex: 1 0 auto;
    }
    footer {
      flex-shrink: 0;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // body
