//////////////////////////////////////////////////////////
////  Container | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Container | Styles
//////////////////////////////////////////////////////////

.container {

  padding-left: 20px;
  padding-right: 20px;

  &-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include breakpoint(sm) {

    padding-left: calc( 0.5 * var(--bs-gutter-x) );
    padding-right: calc( 0.5 * var(--bs-gutter-x) );

    &-fluid {
      padding-left: 20px;
      padding-right: 20px;
    }

  } // min width sm

} // .container
