//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.footer {

  transition:
    transform var(--theme-transition-duration);
  transform: translate3d(0, 0, 0);
  display: block;
  position: relative;
  padding: 100px 0 60px;

  .form {
    .button,
    .input {
      height: 48px;
    }
    .button {
      width: 48px;
      &__icon {
        height: 20px;
        width: auto;
        svg {
          height: 100%;
          width: auto;
        }
      }
    }
    .field {
      flex: 1;
    }
    .section {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  .navigation {
    color: rgba(var(--theme-colour-black),1);
    font-size: 16px;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    &__item,
    &__title {
      line-height: 1;
      & + .navigation__item {
        margin-top: 20px;
      }
    }
    &__item {
      font-weight: 500;
    }
    &__link {
      color: inherit;
      &.active,
      &:focus,
      &:hover {
        opacity: 0.3333;
      }
    }
    &__title {
      font-weight: 700;
      text-transform: uppercase;
    }
    & + .navigation {
      margin-top: 45px;
    }
  }

  &__menus,
  &__newsletter {
    & + .footer__brand {
      margin-top: 45px;
    }
  }

  &__brand {
    height: 28px;
    width: auto;
    margin: auto;
    a, svg {
      display: block;
      height: 100%;
      width: auto;
      margin: auto;
    }
  }

  &__layout {
    position: relative;
    padding: 0 var(--theme-inset-size);
  }

  &__menus {
    & + .footer__newsletter {
      margin-top: 45px;
    }
  }

  &__newsletter {
    text-align: center;
    max-width: 310px;
    margin: auto;
  }

  .mobile-menu--active &,
  .scroll-position--scrolled & {}

  .mobile-menu--active & {
    transform: translate3d(calc(-1*var(--theme-mobile-menu-width)), 0, 0);
  }

  @include breakpoint(sm) {

    &__layout {
      padding: 0 var(--theme-inset-size--sm);
    }

  } // min width sm

  @include breakpoint(md) {

    .navigation {
      justify-content: flex-start;
      align-items: flex-start;
      & + .navigation {
        margin-top: 0px;
      }
    }

    &__brand {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &__layout {
      padding: 0 var(--theme-inset-size--md);
    }

    &__menus {
      display: grid;
      grid-auto-flow: column;
      align-items: flex-start;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row;
      justify-content: flex-start;
      & + .footer__newsletter {
        margin-top: 65px;
      }
    }

    &__newsletter {
      max-width: none;
      margin: 0;
      width: 50%;
      text-align: left;
    }

  } // min width md

  @include breakpoint(lg) {

    padding: 120px 0 100px;

    .form {
      .button,
      .input {
        height: 42px;
      }
      .button {
        width: 42px;
      }
    }

    .navigation {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__layout {
      padding: 0 var(--theme-inset-size--lg);
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__menus {
      width: 50%;
      & + .footer__newsletter {
        margin-top: 0;
      }
    }

    &__newsletter {
      width: 25%;
    }

    .mobile-menu--active & {
      transform: translate3d(0, 0, 0);
    }

  } // min width lg

  @include breakpoint(xl) {

    &__layout {
      padding: 0 var(--theme-inset-size--xl);
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__layout {
      padding: 0 var(--theme-inset-size--xxl);
    }

  } // min width xxl

} // .header
