//////////////////////////////////////////////////////////
////  Form | Variables
//////////////////////////////////////////////////////////

$input-padding: 8px;
$animation-timing: 280ms;

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {

  position: relative;

  input,
  textarea {
    @include placeholder {
      font-weight: 100;
      color: rgba( $theme-black, 0.5 );
    }
    padding: $input-padding;
    width: 100%;
    font-size: 14px;
    display: block;
    background: none;
    border: none;
    outline: none;
    transition:
      background $animation-timing,
      border $animation-timing,
      color $animation-timing,
      height $animation-timing,
      padding $animation-timing;
  }

  &__button {
    padding: 10px;
    font-weight: 100;
    font-size: 14px;
    min-width: 125px;
    text-align: center;
  }

  &__field {
    position: relative;
    &.error {}
  }

  &__hidden-fields {
    display: none;
  }

  &__error {
    left: $input-padding;
    display: none;
    position: absolute;
  }

  &__row {
    display: flex;
    width: 100%;
    align-items: center;
    &--rude {
      position: absolute;
      left: -666666px;
    }
  }

  &__success {
    width: 100%;
    height: auto;
    display: none;
  }

  // ----------------------------------------- Newsletter

  &--newsletter {

    button,
    input {
      &:focus,
      &:hover {
        outline: none;
      }
    }

    input {
      border: none;
      border-bottom: 1px solid $theme-black;
      background: transparent;
    }

  }

  // ----------------------------------------- Subscribe

  &--subscribe {

    input,
    button {
      &[type="submit"]{
        background: $theme-black;
        color: $theme-off-white;
        border-radius: 40px;
        max-width: 115px;
        padding: 9px 0;
        margin: 20px 0 0 0;
        letter-spacing: 0.03em;
        font-weight: 200;
        font-size: 14px;
        width: 100%;
        &:hover,
        &:focus {
          outline: none;
          border: none;
          background: lighten( $theme-black, 35% );
        }
      }
    }

    .mc-field-group {
      label {
        display: none;
      }
      input {
        border-bottom: 1px solid $theme-black;
        color: $theme-black;
        max-width: 220px;
        margin: 18px auto 0;
        background: transparent;
        padding: 8px;
        text-align: center;
        border-right: none;
        border-left: none;
        border-top: none;
        width: 100%;
        font-size: 14px;
        &:hover,
        &:focus {
          outline: none;
        }
      }
    }

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .form
