//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header {

  transition:
    transform var(--theme-transition-duration);
  transform: translate3d(0, 0, 0);
  border-bottom: 1px solid rgba(var(--theme-colour-white),0.5);
  display: block;
  width: 100%;
  height: 85px;
  position: relative;
  z-index: 50;

  .hamburger {
    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  .navigation {
    color: rgba(var(--theme-colour-white),1);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    align-items: center;
    .link {
      &--primary {
        min-height: 42px;
        font-size: 15px;
      }
    }
    &__cta {
      margin-left: 30px;
    }
    &__item {
      & + .navigation__item {
        margin-left: 30px;
      }
    }
    &__link {
      color: inherit;
      &.active,
      &:hover {
        opacity: 0.3333;
      }
    }
  }

  &__brand {
    color: rgba(var(--theme-colour-white),1);
    height: 38px;
    width: auto;
    margin-right: auto;
    a, img, svg {
      color: inherit;
      display: block;
      height: 100%;
      width: auto;
    }
    svg {
      fill: currentColor;
    }
  }

  &__layout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
  }

  .mobile-menu--active &,
  .scroll-position--scrolled & {}

  .mobile-menu--active & {
    transform: translate3d(calc(-1*var(--theme-mobile-menu-width)), 0, 0);
  }

  &[data-colour-theme="dark"] {
    border-bottom: 1px solid rgba(var(--theme-colour-black), 0.05);
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: rgba(var(--theme-colour-black),1);
    }
    .header {
      &__brand {
        color: rgba(var(--theme-colour-black),1);
      }
    }
    .navigation {
      &__link {
        color: rgba(var(--theme-colour-black),1);
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__brand {
      height: 42px;
    }

    .mobile-menu--active & {
      transform: translate3d(0, 0, 0);
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .header
