//////////////////////////////////////////////////////////
////  Index | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Index | Styles
//////////////////////////////////////////////////////////

.index[role="main"] {

  .hero {
    .background {
      &__overlay {
        background: rgba( $theme-black, 0.25 );
      }
    }
    &__heading {
      // font-family: $sans-serif--muli;
      font-style: normal;
      text-transform: none;
      line-height: 1.2;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    .hero {
      &__content {}
      &__heading {
        width: 75%;
      }
      &__main {}
      &__message {}
    }

  } // min width md

  @include breakpoint(lg) {

    .hero {
      &__content {
        width: 45%;
        text-align: left;
        margin: 0 0 0 auto;
        padding: 0 8% 0 0;
      }
      &__heading {
        font-weight: 100;
        font-size: 58px;
        line-height: 1.05;
        width: 100%;
        max-width: 700px;
      }
      &__main {
        justify-content: flex-end;
      }
      &__message {
        max-width: 500px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .hero {
      &__content {
        width: 45%;
        padding: 0 8% 0 0;
      }
      &__heading {
        font-size: 74px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .hero {
      &__content {
        width: 45%;
        padding: 0 8% 0 0;
      }
      &__heading {
        font-size: 78px;
      }
    }

  } // min width xxl

} // .index
