//////////////////////////////////////////////////////////
////  Comment | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Comment | Styles
//////////////////////////////////////////////////////////

main[role="main"] {

  transition:
    transform var(--theme-transition-duration);
  transform: translate3d(0, 0, 0);
  position: relative;

  .block {
    &:first-child {
      &.hero-block {
        margin-top: -85px;
      }
    }
    &:last-child {
      &.feature-carousel,
      &.fifty-fifty,
      &.instagram-feed,
      &.testimonials,
      &.text-feature {
        padding-bottom: 0;
      }
    }
  }

  .section {
    &:first-child {
      &.section--hero {
        margin-top: -85px;
      }
    }
  }

  .flexible-content .section,
  .section--contact-us,
  .section--faqs,
  .section--team {
    margin-bottom: 65px;
  }

  .mobile-menu--active & {
    transform: translate3d(calc(-1*var(--theme-mobile-menu-width)), 0, 0);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    .flexible-content .section,
    .section--contact-us,
    .section--faqs,
    .section--team {
      margin-bottom: 85px;
    }

  } // min width md

  @include breakpoint(lg) {

    .flexible-content .section,
    .section--contact-us,
    .section--faqs,
    .section--team {
      margin-bottom: 100px;
    }

    .mobile-menu--active & {
      transform: translate3d(0, 0, 0);
    }

  } // min width lg

  @include breakpoint(xl) {

    .flexible-content .section,
    .section--contact-us,
    .section--faqs,
    .section--team {
      margin-bottom: 125px;
    }

  } // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // main
