//////////////////////////////////////////////////////////
////  Mobile Menu | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Mobile Menu | Styles
//////////////////////////////////////////////////////////

.mobile-menu {

  transition:
    transform var(--theme-transition-duration);
  transform: translate3d(var(--theme-mobile-menu-width), 0, 0);
  position: fixed;
  width: var(--theme-mobile-menu-width);
  background: #FFFEF9;
  display: block;
  position: fixed;
  height: 100%;
  height: 100vh;
  z-index: 50;
  right: 0;
  overflow-y: auto;

  .cta {
    .link {
      min-height: 42px;
    }
  }

  .navigation {
    width: 100%;
    flex-flow: column;
    text-align: center;
    .link {
      &:focus,
      &:hover,
      &.active {
        opacity: 0.3333;
      }
    }
    &__cta {
      margin-top: 30px;
    }
    &__item {
      & + .navigation__item {
        margin-top: 30px;
      }
    }
    &__link {
      color: rgba(var(--theme-colour-black),1);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 1;
      text-align: center;
      letter-spacing: 0.16em;
      text-transform: uppercase;
    }
  }

  &__brand {
    height: 42px;
    margin: auto;
    a, svg {
      display: block;
      width: auto;
      height: 100%;
    }
    a {
      transition: opacity var(--theme-transition-duration);
      opacity: 1;
      &:focus,
      &:hover {
        opacity: 0.6666;
      }
    }
    & + .mobile-menu__navigation {
      margin-top: 50px;
    }
  }

  &__main {
    display: flex;
    width: 100%;
    flex-flow: column;
    padding: 60px var(--bs-gutter-width);
  }

  .mobile-menu--active & {
    transform: translate3d(0, 0, 0);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .mobile-menu--active & {
      transform: translate3d(var(--theme-mobile-menu-width), 0, 0);
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .mobile-menu
