//////////////////////////////////////////////////////////
////  Modal | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Modal | Styles
//////////////////////////////////////////////////////////

.modal {

  &__button {
    transition: opacity 280ms;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 15px;
    width: 15px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      opacity: 0.66;
    }
  }

  &__main {
    background: $theme-off-white;
    color: $theme-black;
    text-align: center;
    padding: 50px 20px;
    display: block;
    width: 90%;
    margin: auto;
    max-width: 600px;
    position: relative;
    z-index: 100;
  }

  &__overlay {
    background: rgba( $theme-black, 0.45 );
  }

  // ----------------------------------------- Newsletter Popup
  &--newsletter-popup {
    .form {
      padding: 20px 0 0 0;
      input {
        border-bottom: 1px solid $theme-black;
        text-align: center;
      }
      .error {
        input {
          border-bottom: 1px solid $theme-red;
          background: rgba( $theme-red, 0.025 );
        }
      }
      &__action {
        margin: 24px 0 0 0;
      }
      &__button {
        background: $theme-black;
        color: $theme-white;
        border-radius: 999px;
        &:hover {
          background: lighten( $theme-black, 33.3333% );
        }
      }
      &__field {
        width: 100%;
        max-width: 230px;
      }
      &__row {
        justify-content: center;
      }
    }
    .heading {
      font-family: $sans-serif--muli;
      font-style: italic;
      font-weight: 800;
      font-size: 30px;
      line-height: 1.3;
    }
    .modal {
      &__container {
        width: 100%;
        height: 100%;
        max-width: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @include breakpoint(sm) {

    &__main {
      padding: 65px 22px;
    }

  } // min width sm

  @include breakpoint(md) {

    &__main {
      padding: 75px 24px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__main {
      padding: 50px 70px;
    }

    // ----------------------------------------- Newsletter Popup
    &--newsletter-popup {
      .heading {
        font-size: 35px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__main {
      padding: 60px 80px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__main {
      padding: 70px 90px;
    }

  } // min width xxl

} // .modal
