//////////////////////////////////////////////////////////
////  Placeholder | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Placeholder | Styles
//////////////////////////////////////////////////////////

.placeholder {
	
	padding: 50px 0;
	
	.row {
			
		span {
			background: rgba( green, 0.1 );
			display: block;
			text-align: center;
			padding: 35px 0;
			width: 100%;
			color: #fff;
			line-height: 0.9;
			font-size: 12px;
		}
		
		& + .row {
			margin-top: 30px;
		}
		
		&:first-child {
			margin-top: 0;
		}
		
	}
		
  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl
  
} // .placeholder

