.push-navigation {

  width: $theme-push-navigation-width;
  transition: transform 300ms 50ms;
  background: red;
  background: #f2f2f4;
  display: block;
  position: fixed;
  height: 100%;
  z-index: 100;
  right: 0;
  overflow-y: auto;

  .menu {

    a {
      transition: background 280ms;
      padding: 24px 0;
      display: block;
      color: inherit;
      background: transparent;
      &:hover {
        background: $theme-white;
      }
    }

    &__item {
      color: $theme-black;
      font-size: 14px;
      text-align: center;
      font-weight: normal;
      &.active {
        a {
          background: $theme-white;
        }
      }
    }

  }

  &__brand {
    width: 38px;
    height: auto;
    margin: 25px auto;
    a, img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &[data-position="right"] {
    transform: translate3d( $theme-push-navigation-width, 0, 0 );
    &.pushed-left {
      transform: translate3d(0, 0, 0);
    }
  }

  @include breakpoint(sm) {

    width: $theme-push-navigation-width--sm;

    &[data-position="right"] {
      transform: translate3d( $theme-push-navigation-width--sm, 0, 0 );
      &.pushed-left {
        transform: translate3d(0, 0, 0);
      }
    }

  } // min width sm

  @include breakpoint(md) {

    width: $theme-push-navigation-width--md;

    &[data-position="right"] {
      transform: translate3d( $theme-push-navigation-width--md, 0, 0 );
      &.pushed-left {
        transform: translate3d(0, 0, 0);
      }
    }

  } // min width md

  @include breakpoint(lg) {

    width: $theme-push-navigation-width--lg;

    &[data-position="right"] {
      transform: translate3d( $theme-push-navigation-width--lg, 0, 0 );
      &.pushed-left {
        transform: translate3d( $theme-push-navigation-width--lg, 0, 0 );
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .push-navigation
