//////////////////////////////////////////////////////////
////  Typography | Variables
//////////////////////////////////////////////////////////

$heading-size: 44px;
$heading-size--sm: 48px;
$heading-size--md: 52px;
$heading-size--lg: 50px;
$heading-size--xl: 55px;
$heading-size--xxl: 65px;

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
  font-family: var(--theme-font-family--sans-serif--primary);
  color: rgba(var(--theme-colour-black), 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif--gfs-didot;
  line-height: 1.1;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  margin-bottom: 18px;
}

p, ul, ol {
  & + h2, & + h3, & + h4, & + h5 {
    margin-top: 30px;
  }
}

ul, ol, p {
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}

ul, ol {
  padding: 0 0 0 28px;
}

ul {
  list-style: disc;
  li {
    padding-left: 10px;
  }
}

ol {
  list-style: decimal;
  li {
    padding-left: 10px;
  }
}

ol, ul {
  li {
    & + li {
      margin-top: 15px;
    }
  }
}

p, li {
  @include body-copy( 1, 2.08, 200 );
}

h1,
.heading--primary {
  font-size: $heading-size;
}

h2,
.heading--secondary {
  font-size: $heading-size * .75;
}

h3,
.heading--tertiary {
  font-size: $heading-size * .65;
}

.message,
.rte {

  h2 {
    margin-bottom: 20px;
  }

  h4, h5, h6 {
    @include body-copy( 1.3, 1, 700 );
    font-family: $sans-serif--muli;
  }

  p {
    a {
      transition: border 280ms, color 280ms, opacity 280ms;
      display: inline-block;
      text-decoration: none;
      line-height: 1;
      font-weight: 400;
      color: inherit;
      border-bottom-color: inherit;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      &:hover {
        border-bottom-color: transparent;
      }
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0px;
      padding: 0px;
      & + img {
        margin: 10px 0px 0px 0px;
      }
    }
    & + h2 {
      margin-top: 38px;
    }
  }

  table {
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table, tr, td {
    border: 1px solid #BEBEBD;
  }

  td {
    padding: 1.5% 5%;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

}

@include breakpoint(sm) {

  h1,
  .heading--primary {
    font-size: $heading-size--sm;
  }

  h2,
  .heading--secondary {
    font-size: $heading-size--sm * .75;
  }

  h3,
  .heading--tertiary {
    font-size: $heading-size--sm * .65;
  }

} // min width sm

@include breakpoint(md) {

  h1,
  .heading--primary {
    font-size: $heading-size--md;
  }

  h2,
  .heading--secondary {
    font-size: $heading-size--md * .75;
  }

  h3,
  .heading--tertiary {
    font-size: $heading-size--md * .65;
  }

  .message,
  .rte {
    h2 {
      margin-bottom: 24px;
    }
    p + h2 {
      margin-top: 48px;
    }
  }

} // min width md

@include breakpoint(lg) {

  h1,
  .heading--primary {
    font-size: $heading-size--lg;
  }

  h2,
  .heading--secondary {
    font-size: $heading-size--lg * .65;
  }

  h3,
  .heading--tertiary {
    font-size: $heading-size--lg * .5;
  }

  .message,
  .rte {
    h2 {
      margin-bottom: 34px;
    }
    p + h2 {
      margin-top: 58px;
    }
  }

} // min width lg

@include breakpoint(xl) {

  h1,
  .heading--primary {
    font-size: $heading-size--xl;
  }

  h2,
  .heading--secondary {
    font-size: $heading-size--xl * .65;
  }

  h3,
  .heading--tertiary {
    font-size: $heading-size--xl * .50;
  }

  .message,
  .rte {
    h2 {
      margin-bottom: 44px;
    }
    p + h2 {
      margin-top: 68px;
    }
  }

} // min width xl

@include breakpoint(xxl) {

  h1,
  .heading--primary {
    font-size: $heading-size--xxl;
  }

  h2,
  .heading--secondary {
    font-size: $heading-size--xxl * .65;
  }

  h3,
  .heading--tertiary {
    font-size: $heading-size--xxl * .5;
  }

} // min width xxl
