.app-feature {

  &__apps {
    gap: calc( 2 * var(--bs-gutter-width));
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    a {
      transition: opacity var(--theme-transition-duration);
      opacity: 1;
      display: block;
      &:focus,
      &:hover {
        opacity: 0.6666;
      }
    }
  }

  &__content {
    & + .app-feature__apps {
      margin-top: 40px;
    }
  }

  &__heading {
    & + .app-feature__message {
      margin-top: 32px;
    }
  }

  &__layout {
    padding: 0 var(--theme-inset-size);
  }

  @include breakpoint(sm) {

    &__layout {
      padding: 0 var(--theme-inset-size--sm);
    }

  } // min width sm

  @include breakpoint(md) {

    &__layout {
      padding: 0 var(--theme-inset-size--md);
    }

  } // min width md

  @include breakpoint(lg) {

    &__content,
    &__apps {
      width: 50%;
      padding: 0 8%;
    }

    &__content {
      padding-right: 0;
      & + .app-feature__apps {
        margin-top: 0;
      }
    }

    &__layout {
      padding: 0 var(--theme-inset-size--lg);
    }

    [data-layout] {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      display: flex;
    }

    [data-layout="apps-left"] {
      .app-feature__content {
        order: 2;
      }
      .app-feature__apps {
        order: 1;
      }
    }

    [data-layout="apps-right"] {
      .app-feature__content {
        order: 1;
      }
      .app-feature__apps {
        order: 2;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__layout {
      padding: 0 var(--theme-inset-size--xl);
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__layout {
      padding: 0 var(--theme-inset-size--xxl);
    }

  } // min width xxl

} // .app-feature
