.feature-carousel {

  .glide {
    width: 100%;
    &__button {
      transform: rotate(180deg);
      left: calc(-1 * var(--theme-inset-size));
      right: unset;
    }
    &__slide {
      height: auto;
    }
  }

  .intro-para {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: -1px;
    a {
      border-bottom-width: 4px;
      line-height: 1;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  &__intro,
  &__main {
    position: relative;
  }

  &__caption {
    font-family: var(--theme-font-family--sans-serif--primary);
    font-weight: 600;
    font-size: 15px;
    line-height: 1.1;
    display: block;
    margin-top: 14px;
    width: 80%;
  }

  &__content {
    padding: 0 var(--theme-inset-size);
  }

  &__intro {
    background: #F3F1DD;
    padding: 80px 0;
    &.with-glider {
      padding-bottom: 160px;
      & + .feature-carousel__main {
        margin-top: -110px;
      }
    }
  }

  &__main {
    padding: 0 0 0 calc(20px + var(--theme-inset-size));
  }

  @include breakpoint(sm) {

    .glide {
      &__button {
        left: calc(-1 * var(--theme-inset-size--sm));
      }
    }

    &__content {
      padding: 0 var(--theme-inset-size--sm);
    }

    &__main {
      padding: 0;
      padding-left: calc((100% - var(--bs-container-width--sm))/2 + (var(--theme-inset-size--sm) + 10px));
    }

  } // min width sm

  @include breakpoint(md) {

    .glide {
      &__button {
        left: calc(-1 * var(--theme-inset-size--md));
      }
    }

    &__content {
      padding: 0 var(--theme-inset-size--md);
    }

    &__main {
      padding-left: calc((100% - var(--bs-container-width--md))/2 + (var(--theme-inset-size--md) + 10px));
    }

  } // min width md

  @include breakpoint(lg) {

    .glide {
      &__button {
        left: calc(-1 * var(--theme-inset-size--lg));
      }
    }

    .intro-para {
      font-size: 35px;
      line-height: 1.22;
    }

    &__caption {
      font-size: 20px;
    }

    &__content {
      padding: 0 0 0 var(--theme-inset-size--lg);
      width: 65%;
    }

    &__intro {
      padding: 120px 0;
      &.with-glider {
        padding-bottom: 180px;
        & + .feature-carousel__main {
          margin-top: -140px;
        }
      }
    }

    &__main {
      padding-left: calc((100% - var(--bs-container-width--lg))/2 + (var(--theme-inset-size--lg) + 10px));
    }

  } // min width lg

  @include breakpoint(xl) {

    .glide {
      &__button {
        left: calc(-1 * var(--theme-inset-size--xl));
      }
    }

    .intro-para {
      font-size: 42px;
    }

    &__content {
      padding: 0 0 0 var(--theme-inset-size--xl);
    }

    &__main {
      padding-left: calc((100% - var(--bs-container-width--xl))/2 + (var(--theme-inset-size--xl) + 10px));
    }

  } // min width xl

  @include breakpoint(xxl) {

    .glide {
      &__button {
        left: calc(-1 * var(--theme-inset-size--xxl));
      }
    }

    .intro-para {
      font-size: 48px;
    }

    &__content {
      padding: 0 0 0 var(--theme-inset-size--xxl);
    }

    &__main {
      padding-left: calc((100% - var(--bs-container-width--xxl))/2 + (var(--theme-inset-size--xxl) + 10px));
    }

  } // min width xxl

}
