$ratios: (
  '16-9': '16/9',
  '4-3': '4/3',
  '1-1': '1/1',
);

$heights: (
  'full': 100vh,
  'two-thirds': 66.6666vh,
  'half': 50vh,
);

.hero-block {

  color: rgba(var(--theme-colour-white),1);
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  aspect-ratio: 4/2.5;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }

  &__heading {
    a {
      transition:
        border var(--theme-transition-duration),
        color var(--theme-transition-duration),
        opacity var(--theme-transition-duration);
      color: inherit;
      border-color: #E6C866;
      border-bottom-width: 4px;
      border-bottom-style: solid;
      &:focus,
      &:hover {
        border-color: transparent;
      }
    }
  }

  &__main {
    position: relative;
    z-index: 10;
    margin-bottom: 70px;
  }

  @each $name, $value in $heights {
    &[data-height="#{$name}"] {
      height: $value;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__main {
      margin-bottom: 105px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__main {
      margin-bottom: 155px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__main {
      margin-bottom: 205px;
    }

  } // min width xxl

} // .hero-block
