.instagram-feed {

  overflow: hidden;

  &__content {
    padding: 0 var(--theme-inset-size);
  }

  &__intro {
    text-align: center;
    & + .instagram-feed__main {
      margin-top: 32px;
    }
  }

  &__message {
    p, li {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
    a {
      transition:
        border var(--theme-transition-duration),
        color var(--theme-transition-duration),
        opacity color var(--theme-transition-duration);
      color: inherit;
      display: inline-block;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: #E6C866;
      line-height: 1.2;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  &__main {
    width: 120%;
    position: relative;
    left: -10%;
  }

  @include breakpoint(sm) {

    &__content {
      padding: 0 var(--theme-inset-size--sm);
    }

  } // min width sm

  @include breakpoint(md) {

    &__content {
      padding: 0 var(--theme-inset-size--md);
    }

  } // min width md

  @include breakpoint(lg) {

    &__content {
      padding: 0 var(--theme-inset-size--lg);
    }

    &__intro {
      text-align: left;
      & + .instagram-feed__main {
        margin-top: 38px;
      }
    }

    &__message {
      a {
        border-bottom-width: 4px;
        line-height: 1;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__content {
      padding: 0 var(--theme-inset-size--xl);
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__content {
      padding: 0 var(--theme-inset-size--xxl);
    }

  } // min width xxl

}
