.logo-carousel {

  .glide {
    &__slide {
      height: auto;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    height: 100px;
    width: auto;
    a, img, svg {
      height: 100%;
      width: 100%;
      max-width: 180px;
      object-fit: contain;
    }
  }

  &__main {
    position: relative;
    width: calc(100% + (2*var(--bs-gutter-width)));
    left: calc(-1*var(--bs-gutter-width));
    position: relative;
  }

  @include breakpoint(sm) {

    &__logo {
      a, img, svg {
        max-width: 125px;
      }
    }

    &__main {
      width: 100%;
      left: unset;
    }

  } // min width sm

  @include breakpoint(md) {

    &__logo {
      height: 130px;
      a, img, svg {
        max-width: 135px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    &__logo {
      height: 120px;
      a, img, svg {
        max-width: 120px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__logo {
      height: 130px;
      a, img, svg {
        max-width: 130px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__logo {
      height: 140px;
      a, img, svg {
        max-width: 140px;
      }
    }

  } // min width xxl

} // .logo-carousel
