.pricing {

  position: relative;

  &__cta {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    .link {
      width: 100%;
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    flex-flow: column;
    padding: 0 var(--theme-inset-size);
  }

  &__main {
    position: relative;
    z-index: 5;
  }

  &__option {
    color: rgba(var(--theme-colour-white),1);
    background: rgba(var(--theme-colour-off-black),0.15);
    width: 100%;
    border: 2px solid #8D8D8D;
    position: relative;
    &-frame {
      height: 235px;
      flex-flow: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-incentive {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      span {
        color: rgba(var(--theme-colour-white),1);
        background: #8D8D8D;
        display: inline-flex;
        position: relative;
        min-height: 40px;
        justify-content: center;
        align-items: center;
        padding: 0 var(--bs-gutter-width);
        top: calc( 40px * -0.5 );
        font-weight: 600;
        font-size: 16px;
      }
    }
    &-name {
      font-style: italic;
      font-weight: 600;
      font-size: 25px;
      line-height: 1;
      letter-spacing: -1px;
      & + .pricing__option-price {
        margin-top: 10px;
      }
    }
    &-price {
      font-style: normal;
      font-weight: 500;
      font-size: 45px;
      line-height: 1;
      letter-spacing: -1px;
    }
    &-promo {
      background: #8D8D8D;
      text-align: center;
      padding: 10px;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
    &[data-incentive] {
      border: 2px solid #9dbc89;
      .pricing__option {
        &-incentive {
          span {
            background: #9dbc89;
          }
        }
        &-promo {
          background: #9dbc89;
        }
      }
    }
    & + .pricing__option {
      margin-top: 20px;
    }
  }

  &__options {
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
  }

  &__overlay {
    background: rgba(var(--theme-colour-off-black),0.25);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include breakpoint(sm) {

    &__cta {
      .link {
        width: auto;
        margin: auto;
      }
    }

    &__layout {
      padding: 0 var(--theme-inset-size--sm);
    }

    &__option {
      &-frame {
        height: 260px;
      }
      &-promo {
        padding: 12px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__layout {
      padding: 0 var(--theme-inset-size--md);
    }

    &__option {
      width: calc( 0.5 * (100% - var(--bs-gutter-width)) );
      &-frame {
        height: 280px;
      }
      &-promo {
        padding: 14px;
      }
      &[data-count="1"] {
        order: 2;
      }
      &[data-count="2"] {
        order: 1;
      }
      & + .pricing__option {
        margin-top: 0px;
      }
    }

    &__options {
      flex-flow: row nowrap;
      justify-content: space-between;
    }

  } // min width md

  @include breakpoint(lg) {

    &__cta {
      width: auto;
      margin: 0;
    }

    &__layout {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--theme-inset-size--lg);
    }

    &__option {
      &-frame {
        height: 220px;
      }
    }

    &__options {
      width: 60%;
      flex-flow: row nowrap;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__layout {
      padding: 0 var(--theme-inset-size--xl);
    }

    &__option {
      &-frame {
        height: 240px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__layout {
      padding: 0 var(--theme-inset-size--xxl);
    }

    &__option {
      &-frame {
        height: 260px;
      }
    }

  } // min width xxl

}
