.testimonials {

  .glide {
    width: calc( 100% + 20px );
    margin-left: -20px;
  }

  &__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-name {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.43;
    }
    &-profile-picture {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 100%;
      & + .testimonials__author-name {
        margin-left: 10px;
      }
    }
  }

  &__item {
    padding-left: 20px;
  }

  &__quote {
    position: relative;
    &-mark {
      &.open {
        position: absolute;
        left: -16px;
        top: 0;
      }
    }
    & + .testimonials__author {
      margin-top: 25px;
    }
  }

  &__main {
    padding: 0 var(--theme-inset-size);
    position: relative;
  }

  @include breakpoint(sm) {

    &__main {
      padding: 0 var(--theme-inset-size--sm);
    }

  } // min width sm

  @include breakpoint(md) {

    &__main {
      padding: 0 var(--theme-inset-size--md);
    }

  } // min width md

  @include breakpoint(lg) {

    &__main {
      padding: 0 var(--theme-inset-size--lg);
    }

  } // min width lg

  @include breakpoint(xl) {

    &__quote {
      &-mark {
        &.open {
          left: -20px;
        }
      }
    }

    &__main {
      padding: 0 var(--theme-inset-size--xl);
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__quote {
      &-mark {
        &.open {
          left: -22px;
        }
      }
    }

    &__main {
      padding: 0 var(--theme-inset-size--xxl);
    }

  } // min width xxl

} // .testimonials
