.text-feature {

  text-align: center;

  &__heading {
    & + .text-feature__messages-list {
      margin-top: 36px;
    }
  }

  &__messages-item {
    width: 100%;
    max-width: 234px;
    margin: 0 auto;
    & + .text-feature__messages-item {
      margin-top: 38px;
    }
  }

  &__subheading {
    & + .text-feature__message {
      margin-top: 13px;
    }
  }

  @include breakpoint(sm) {

    &__messages-item {
      max-width: 375px;
    }

  } // min width sm

  @include breakpoint(md) {

    &__messages-item {
      max-width: 500px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__heading {
      & + .text-feature__messages-list {
        margin-top: 46px;
      }
    }

    &__messages-list {
      gap: var(--bs-gutter-width);
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: flex-start;
    }

    &__messages-item {
      max-width: none;
      width: calc( 1/3 * 100% );
      & + .text-feature__messages-item {
        margin-top: 0px;
      }
    }

    &__subheading {
      & + .text-feature__message {
        margin-top: 22px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .text-feature
