.text {

  &__heading {
    & + .text__message {
      margin-top: 24px;
    }
  }

  @include breakpoint(lg) {

    &__heading {
      & + .text__message {
        margin-top: 34px;
      }
    }

  }

}
