//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

%footer-heading {
  font-family: $sans-serif--muli;
  text-transform: uppercase;
  color: #5e5e5e;
  font-size: 12px;
  margin-bottom: 26px;
  @include breakpoint(sm) {
    margin-bottom: 24px;
  } // min width sm
  @include breakpoint(md) {
    margin-bottom: 28px;
  } // min width md
  @include breakpoint(lg) {
    margin-bottom: 24px;
  } // min width lg
  @include breakpoint(xl) {
    margin-bottom: 24px;
  } // min width xl
  @include breakpoint(xxl) {
    margin-bottom: 24px;
  } // min width xxl
}

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  transition:
    transform var(--theme-transition-duration);
  transform: translate3d(0, 0, 0);

  .menu {
    display: block;
    width: 100%;
    text-align: center;
    a {
      color: $theme-light-grey;
      transition: color 280ms, opacity 280ms;
      &:hover {
        color: $theme-white;
      }
    }
    &__item {
      font-size: 12px;
      margin-bottom: 20px;
      &.active {
        a {
          color: $theme-white;
        }
      }
      &.menu__item--heading {
        @extend %footer-heading;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    & + .menu {
      margin-top: 48px;
    }
  }

  &__brand {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    a {
      display: block;
      height: 32px;
      width: auto;
      img {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }

  &__main {
    background: $theme-off-black;
    color: $theme-white;
    padding: 52px 0;
  }

  &__navigation {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  &__newsletter {
    text-align: center;
    margin-top: 48px;
    width: 100%;
    .form {
      input, button {
        font-size: 12px;
        color: #c2c2c2;
      }
      input {
        @include placeholder {
          color: #c2c2c2;
        }
        border-bottom: 1px solid rgba( #c2c2c2, 0.5 );
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: -5px;
        text-align: center;
      }
      .error {
        input {
          //background: rgba( $theme-white, 0.5 );
          border-bottom: 1px solid rgba( $theme-white, 1 );
        }
      }
      &__action {
        margin-top: 14px;
      }
      &__button {
        padding: 0;
        text-align: center;
        min-width: 0px;
      }
      &__row {
        justify-content: center;
      }
      &__success {
        margin-top: -10px;
        p {
          font-size: 12px;
        }
      }
    }
    .heading {
      @extend %footer-heading;
    }
  }

  .mobile-menu--active & {
    transform: translate3d(calc(-1*var(--theme-mobile-menu-width)), 0, 0);
  }

	@include breakpoint(sm) {

    .menu {
      display: block;
      width: 50%;
      text-align: left;
      margin-bottom: 50px;
      padding-left: 55px;
      & + .menu {
        margin-top: 0;
      }
    }

    &__main {
      padding: 70px 0;
    }

    &__navigation {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__newsletter {
      text-align: left;
      margin-top: 0;
      padding-left: 55px;
      width: 50%;
      .form {
        input, button {
          font-size: 12px;
          color: #c2c2c2;
        }
        input {
          margin-top: -5px;
          text-align: left;
        }
        &__action {
          margin-top: 14px;
        }
        &__button {
          text-align: left;
        }
        &__row {
          justify-content: flex-start;
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .menu {
      width: 25%;
      margin-bottom: 0;
      padding-left: 38px;
      &__item {
        margin-bottom: 24px;
      }
    }

    &__brand {
      justify-content: flex-end;
    }

    &__navigation {
      padding: 0 12%;
      margin-right: auto;
      margin-left: auto;
    }

    &__newsletter {
      padding-left: 38px;
      width: 25%;
    }

  } // min width md

  @include breakpoint(lg) {

    .mobile-menu--active & {
      transform: translate3d(0, 0, 0);
    }

  } // min width lg

  @include breakpoint(xl) {

    .menu {
      width: 25%;
      margin-bottom: 0;
      padding-left: 0;
      &__item {
        margin-bottom: 24px;
      }
    }

    &__brand {
      margin-top: 30px;
    }

    &__navigation {
      padding: 0;
      margin: 0;
      width: 80%;
    }

    &__newsletter {
      padding-left: 0;
      width: 25%;
    }

  } // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .footer
