body {

  .site-font-primary-family,
  .subtext-container div,
  .browse-item-title {
    font-family: $sans-serif--muli !important;
  }

  // ----------------------------------------- Read More Toggle
  .read-more-trigger {
    @include vimeo-body-copy;
    color: #666666 !important;
    margin-top: 18px !important;
    span {
      color: inherit !important;
    }
  }

  // ----------------------------------------- Browse Card Item
  .browse-item-card {

    .browse-item-title,
    .browse-item-subtext {
      @include body-copy;
    }

    .browse-item-title {
      color: $theme-black !important;
      font-weight: bold !important;
      font-size: 14px !important;
      margin-top: 6px;
      strong, a {
        color: inherit !important;
        font-weight: inherit !important;
        font-size: inherit !important;
      }
    }

    .browse-item-subtext {
      color: #959595 !important;
      font-size: 12px !important;
    }

  }

  &.videos,
  &.browse,
  &.collections {

    .select-dropdown-wrapper {
      background: #DDDDDD !important;
      color: $theme-black !important;
      border-radius: 0 !important;
      position: relative;
      margin-left: 8px;
      margin-bottom: 32px;
      margin-top: 12px;
      select {
        color: $theme-black !important;
        border-radius: 0 !important;
        background: #DDDDDD !important;
        padding: 0 10px !important;
        margin: 0 !important;
        min-width: 120px;
      }
      &:after {
        border-style: solid;
        border-width: 2px 2px 0 0;
        content: '';
        display: block;
        height: 8px;
        position: absolute;
        width: 8px;
        top: 0;
        transform: rotate(135deg);
        right: 10px;
        top: 50%;
        margin-top: -6px;
      }
    }

    // ----------------------------------------- Tool Tip
    .tooltip {
      background: #222222 !important;
      color: $theme-white;
      border: none !important;
      border-radius: 0px !important;
      h1, h2, h3, h4, h5, h6, p, li {
        @include body-copy;
      }
      .tooltip-item-title {
        font-size: 18px !important;
        font-weight: bold !important;
        margin: 0 0 10px 0 !important;
        color: $theme-white !important;
        strong {
          color: $theme-white !important;
        }
      }
      .transparent {
        color: $theme-white !important;
        opacity: 1 !important;
        p {
          color: $theme-white !important;
        }
      }
      &:after {
        display: none !important;
      }
      &:before {
        width: 0 !important;
        height: 0 !important;
        top: 50% !important;
        left: unset !important;
        right: unset !important;
        margin: 0 !important;
        margin-top: -18px !important;
        border: none !important;
      }
      &.right {
        &:before {
          right: 100% !important;
          border-top: 18px solid transparent !important;
          border-right: 18px solid #222222 !important;
          border-bottom: 18px solid transparent !important;
        }
      }
      &.left {
        &:before {
          left: 100% !important;
          border-top: 18px solid transparent !important;
          border-left: 18px solid #222222 !important;
          border-bottom: 18px solid transparent !important;
        }
      }
    }

  }

  &.browse,
  &.product {

    // ----------------------------------------- Carousel
    .carousel {

      .slide-title {
        @include vimeo-heading;
        @include vimeo-heading-2;
      }

      .slide-subtitle {
        @include vimeo-body-copy;
        color: #969696;
      }

      .slide-buttons {
        a {
          border: 1px solid #747474;
          width: 100%;
          max-width: 160px;
          border-radius: 0;
        }
      }

    }

    // ----------------------------------------- Slick Slider
    .slick-slider {

      .slick-arrow {

        transition: background 280ms, opacity 280ms;
        position: absolute;
        height: 100%;
        background: $theme-white;
        color: $theme-white;
        border: none;
        border-radius: 0px;
        outline: none;
        bottom: unset;
        top: 0;
        transform: unset;
        opacity: 1;
        width: 30px;
        display: none;

        .icon {
          display: none;
        }

        &:after {
          content: '';
          display: block;
          border-style: solid;
          border-color: $theme-white;
          border-width: 2px 2px 0 0;
          height: 8px;
          width: 8px;
        }

        &.slick-next {
          &:after {
            transform: rotate(45deg);
          }
        }

        &.slick-prev {
          &:after {
            transform: rotate(-135deg);
          }
        }

        &:hover {
          background: rgba( #222222, 0.8 );
        }

      }

    }

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width sm

  @media (min-width: 815px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3em;
          &:after {
            border-width: 2px 2px 0 0;
            height: 8px;
            width: 8px;
          }
          &.slick-next {
            right: -2em;
          }
          &.slick-prev {
            left: -2em;
          }
        }
      }

    }

  }

  @media (min-width: 1090px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 3em;
          &.slick-next {
            right: -2.4em;
          }
          &.slick-prev {
            left: -2.4em;
          }
        }
      }

    }

  }

  @media (min-width: 1300px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 3em;
          &.slick-next {
            right: -2.6em;
          }
          &.slick-prev {
            left: -2.6em;
          }
        }
      }

    }

  }

  @media (min-width: 1418px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 3em;
          &.slick-next {
            right: -2.8em;
          }
          &.slick-prev {
            left: -2.8em;
          }
        }
      }

    }

  }

  @media (min-width: 1524px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 3.2em;
          &.slick-next {
            right: -3.2em;
          }
          &.slick-prev {
            left: -3.2em;
          }
        }
      }

    }

  }

  @media (min-width: 1735px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 3.4em;
          &.slick-next {
            right: -3.6em;
          }
          &.slick-prev {
            left: -3.6em;
          }
        }
      }

    }

  }

  @media (min-width: 1940px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 3.6em;
          &.slick-next {
            right: -4em;
          }
          &.slick-prev {
            left: -4em;
          }
        }
      }

    }

  }

  @media (min-width: 2160px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 3.8em;
          &.slick-next {
            right: -4.4em;
          }
          &.slick-prev {
            left: -4.4em;
          }
        }
      }

    }

  }

  @media (min-width: 2370px) {

    &.browse,
    &.product {

      // ----------------------------------------- Slick Slider
      .slick-slider {
        .slick-arrow {
          width: 4.2em;
          &.slick-next {
            right: -4.8em;
          }
          &.slick-prev {
            left: -4.8em;
          }
        }
      }

    }

  }


}
