#browse-component {

  // ----------------------------------------- Browse Rows
  .browse-rows {

    background: $theme-white;
    color: $theme-black;

    .browse-row {
      .horizontal-row {
        padding-bottom: 42px;
      }
    }

    .row {

      .head.primary {
        @include vimeo-heading;
        @include vimeo-heading-4;
        color: $theme-black !important;
        a {
          color: inherit !important;
        }
      }

      .row-head {
        padding-bottom: 22px;
      }

      .view-more-container {
        color: $theme-black !important;
        font-family: $sans-serif--muli !important;
        font-size: 13px !important;
        font-weight: bold !important;
        letter-spacing: 0;
        text-align: right;
        a {
          color: inherit !important;
        }
      }

    }

    .horizontal-row-container.horizontal-row {
      border-bottom: 1px solid #D8D8D8;
    }

    .truncate,
    .browse-item-subtext {
      @include body-copy;
    }

    .truncate {
      color: $theme-black !important;
      font-weight: bold !important;
      font-size: 14px !important;
    }

    .browse-item-subtext {
      color: #959595 !important;
      font-size: 12px !important;
    }

    .see-more-row {
      background: transparent;
    }

  }

  // ----------------------------------------- See More Row
  .see-more-row {
    button {
      @include vimeo-button-rectangle-outline;
    }
  }

}
