body.collections {

  // ----------------------------------------- Category
  .collection-category {

    .collection-title {
      @include vimeo-heading;
      @include vimeo-heading-3;
      color: $theme-black !important;
      margin: 25px 0px 36px !important;
      text-align: center;
    }

  }

  // ----------------------------------------- Load More
  .loadmore {

    a.btn {
      @include vimeo-button-rectangle-outline;
      background: transparent;
      margin-bottom: 100px;
    }

  }

  // ----------------------------------------- Product Feature
  .product-feature {

    .collection-actions {

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column wrap;

      a {
        @include vimeo-button-rectangle-outline;
        margin: 0 !important;
        padding: 0 !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 100px !important;
        max-width: 262px !important;
        width: 100% !important;
        padding: 0 20px !important;
        .icon-adjustment {
          display: none !important;
        }
        & + a {
          margin-top: 20px !important;
        }
      }

      .custom-btn-action-transact {
        background: transparent !important;
        border: 1px solid $theme-black !important;
        color: $theme-black !important;
      }

      .custom-btn-action-trailer {
        background: $theme-black !important;
        border: 1px solid $theme-black !important;
        color: $theme-white !important;
        &:hover {
          background: lighten( $theme-black, 33% ) !important;
        }
      }

      .custom-btn-action-share {
        background: #DDDDDD !important;
        color: $theme-black !important;
        border: 1px solid #DDDDDD !important;
      }

    }

    .collection-title {
      @include vimeo-heading;
      @include vimeo-heading-3;
      color: $theme-black !important;
      margin: 0 0 30px 0;
    }

    .collection-description,
    .collection-stats {
      @include vimeo-body-copy;
      color: $theme-black !important;
    }

    .collection-description p {
      @include vimeo-body-copy;
      color: #666666 !important;
    }

    &.border-bottom {
      border: 1px solid #CCCCCC;
    }

  }

  @include breakpoint(lg) {

    // ----------------------------------------- Product Feature
    .product-feature {

      .collection-actions {

        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;

        a {
          min-width: 160px !important;
          max-width: 0px !important;
          padding: 0 10px !important;
          width: auto !important;
          & + a {
            margin-top: 0px !important;
            margin-left: 18px !important;
          }
        }

      }

    }

  } // min width lg

} // .collection
