//////////////////////////////////////////////////////////
////  Content Preview | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Content Preview | Styles
//////////////////////////////////////////////////////////

#content-preview {

  color: $theme-black;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    @include vimeo-heading-3;
    text-transform: uppercase;
    font-style: italic;
  }

  h3 {
    @include vimeo-body-copy;
  }

  .gallery-container {
    margin-top: 42px;
  }

}
