//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer--site {

  background: $theme-white !important;
  color: $theme-black !important;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  border: none;
  position: relative;

  .row.full-width,
  .helper-links,
  .padding-left-medium {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    float: none !important;
  }

  .helper-links  {
    padding: 30px 0 !important;
    margin-bottom: -20px !important;
    a {
      font-family: $sans-serif--muli !important;
      color: $theme-black !important;
      font-size: 12px;
      line-height: 1;
      font-weight: 200;
      margin: 0 20px;
    }
  }

  &.border-top {
    border-top-color: #CCCCCC !important;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
