//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.site-icon-menu { filter: invert(1); }

.site-header {

 border-bottom: none !important;

  // ----------------------------------------- Container
  .identity-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  // ----------------------------------------- Logo
  h1.identity {
    display: inline-flex;
    width: auto;
    a {
      display: block;
      height: 40px;
      width: auto;
      img {
        height: 100%;
        width: auto;
        display: block;
      }
    }
  }

  .flex-right {
    .user-activity {
      font-family: $sans-serif--muli !important;
    }
  }

  // ----------------------------------------- Primary Navigation
  #primary-navigation {

    a, span {
      font-family: $sans-serif--muli !important;
      color: $theme-off-black;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 100%;
      text-align: right;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 10px;
    }

    .dropdown-container {
      width: 100%;
    }

    .navigation-dropdown {
      position: relative;
      top: 0;
      left: 0;
    }

  }

  @media ( min-width: 641px )  {

    // ----------------------------------------- Container
    .identity-container {
      justify-content: flex-start;
    }

    // ----------------------------------------- Logo
    h1.identity {
      a {
        height: 36px;
      }
    }

    // ----------------------------------------- Primary Navigation
    #primary-navigation {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      & > a,
      & > span {
        margin-left: 10px;
      }

      a, span {
        font-size: 10px !important;
      }

      a {
        padding: 0px;
      }

      .navigation-dropdown {
        position: absolute;
        top: 10px;
        left: -10px;
        right: unset;
        width: 135px;
        border-radius: 0;
        a {
          padding: 10px 10px;
          text-align: left;
        }
        li:first-child {
          a { padding-top: 20px; }
        }
        li:last-child {
          a { padding-bottom: 20px; }
        }
      }

    }

    // ----------------------------------------- User Actions
    .user-actions {

      display: inline-flex;
      justify-content: flex-end;
      align-items: center;

      [data-toggle-trigger="account-dropdown"] {
        margin: 0;
        padding: 0 !important;
        display: inline-flex;
        justify-items: center;
        align-items: center;
      }

      a.subscribe-link,
      a.user-action-link {
        margin: 0;
        padding: 0;
        font-size: 10px !important;
        display: block;
        & + a {
          margin-left: 12px;
        }
      }

      .avatar-chevron {
        padding: 0;
        margin: 0px 0 0 6px;
        display: block;
      }

      .avatar-container {
        margin-left: 10px !important;
      }

      .user-dropdown {
        top: 40px;
      }

    }

  } // min width 641px

  @media ( min-width: 1024px ) {

    // ----------------------------------------- Container
    .identity-container {}

    // ----------------------------------------- Logo
    h1.identity {
      a {
        height: 40px;
      }
    }

    // ----------------------------------------- Primary Navigation
    #primary-navigation {

      & > a,
      & > span {
        margin-left: 28px;
      }

      a, span {
        font-size: 12px !important;
      }

      a {
        padding: 0px;
      }

      .navigation-dropdown {
        position: absolute;
        top: 10px;
        width: 155px;
        border-radius: 0;
        a {
          padding: 10px 10px;
        }
        li:first-child {
          a { padding-top: 20px; }
        }
        li:last-child {
          a { padding-bottom: 20px; }
        }
      }

    }

 // ----------------------------------------- User Actions
    .user-actions {

      a.subscribe-link,
      a.user-action-link {
        font-size: 12px !important;
      }

      .avatar-chevron {
        margin: 0px 0 0 6px;
      }

      .avatar-container {
        margin-left: 10px !important;
      }

      .user-dropdown {
        top: 40px;
      }

    }


  } // min width 1024px

}
