body.sites-help {

  form {

    input {
      border: 1px solid $theme-black !important;
      color: $theme-black !important;
      @include placeholder {
        color: $theme-black !important;
      }
    }

  }

  #mithril-help {

    div:not(.help-container) {
      color: $theme-black;
    }

  }

  @media ( min-width: 641px ) {}

  @media ( min-width: 1024px ) {}

} // body.sites-help

//////////////////////////////////////////////////////////
////  Help Articles | Styles
//////////////////////////////////////////////////////////

body.help-articles {

  #mithril-help {
    .help-sidebar {
      color: $theme-black;
      * {
        color: inherit;
      }
      input {
        @include placeholder {
          color: $theme-black;
        }
      }
    }
  }

  .content-container {

    .article-container {
      a {
        color: white !important;
        text-decoration: underline;
        font-weight: bold !important;
      }
    }

    .help-sidebar {
      form {
        input {
          color: $theme-black !important;
          border: 1px solid $theme-black !important;
          @include placeholder {
            color: $theme-black !important;
          }
        }
      }
    }

  }

}

//////////////////////////////////////////////////////////
////  Help Categories | Styles
//////////////////////////////////////////////////////////

body.sites-help,
body.help-categories,
body.help-articles {

  form {
    input,
    textarea {
      border: 1px solid $theme-black !important;
      @include placeholder {
        color: $theme-black;
      }
    }
  }

  .help-content {
    * {
      color: $theme-white;
    }
    table,
    thead,
    tbody {
      background: transparent;
    }

    table tr.alt, table tr.even, table tr:nth-of-type(2n) {
      background: rgba( #f9f9f9, 0.1 );
    }

    .article-container {
      a {
        color: $theme-white !important;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .help-sidebar {
    * {
      color: $theme-black !important;
    }
  }

  @media ( min-width: 641px ) {}

  @media ( min-width: 1024px ) {}

}

//////////////////////////////////////////////////////////
////  Not Sure | Styles
//////////////////////////////////////////////////////////

.contact {

  .contact--container {
    *:not([type="submit"]) {
      color: $theme-black;
    }
  }

}
