.logged-in {

  // ----------------------------------------- Site Header
  .site-header {}

  // ----------------------------------------- Modal
  [data-subscription-options] {
    .form {
      .radio {
        &--label {
          color: $theme-black;
        }
      }
    }
    .head.secondary {
      color: $theme-black !important;
      * {
        color: inherit !important;
      }
    }
  }

  @media ( min-width: 641px )  {

    // ----------------------------------------- Site Header
    .site-header {}

  } // min-width: 641px

  @media ( min-width: 1024px ) {

    // ----------------------------------------- Site Header
    .site-header {}

  } // min-width: 1024px

} // .logged-in
