.logged-out {

  // ----------------------------------------- Site Header
  .site-header {}

  @media ( min-width: 641px )  {

    // ----------------------------------------- Site Header
    .site-header {

      .user-actions {
        flex-flow: row wrap;
        a.subscribe-link,
        a.user-action-link {
          width: 100%;
          & + a {
            margin-top: 6px;
          }
        }

      }

    }

  } // min-width: 641px

  @media ( min-width: 1024px ) {

    // ----------------------------------------- Site Header
    .site-header {

      .user-actions {
        flex-flow: row nowrap;
        a.subscribe-link,
        a.user-action-link {
          width: auto;
          font-size: 10px;
          & + a {
            margin-top: 0;
          }
        }

      }

    }

  } // min-width: 1024px

} // .logged-out
