@mixin vimeo-body-copy {
  font-family: $sans-serif--muli;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.7;
  @include breakpoint(sm) {} // min width sm
  @include breakpoint(md) {} // min width md
  @include breakpoint(lg) {} // min width lg
  @include breakpoint(xl) {} // min width xl
  @include breakpoint(xxl) {} // min width xxl
}

@mixin vimeo-button-circle {
  transition: background 280ms, color 280ms, opacity 280ms;
  font-family: $sans-serif--muli;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 999px;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: 1.1;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin vimeo-button-rectangle-outline {
  transition: background 280ms, color 280ms;
  color: $theme-black !important;
  border: 1px solid $theme-black !important;
  width: 100%;
  height: 42px;
  max-width: 250px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  font-family: $sans-serif--muli;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 28px;
  &:hover {
    background: $theme-black !important;
    color: $theme-white !important;
  }
}

@mixin vimeo-button-circle-black {
  background: $theme-black;
  color: $theme-white;
  &:hover {
    background: lighten( $theme-black, 33% );
  }
}

@mixin vimeo-button-circle-white {
  background: $theme-white;
  color: $theme-black;
  &:hover {
    background: darken( $theme-white, 33% );
  }
}

@mixin vimeo-heading {
  font-family: $serif--gfs-didot;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

@mixin vimeo-heading-1 {
  font-size: 60px;
  @include breakpoint(sm) {} // min width sm
  @include breakpoint(md) {} // min width md
  @include breakpoint(lg) {} // min width lg
  @include breakpoint(xl) {} // min width xl
  @include breakpoint(xxl) {} // min width xxl
}

@mixin vimeo-heading-2 {
  font-size: 50px;
  @include breakpoint(sm) {} // min width sm
  @include breakpoint(md) {} // min width md
  @include breakpoint(lg) {} // min width lg
  @include breakpoint(xl) {} // min width xl
  @include breakpoint(xxl) {} // min width xxl
}

@mixin vimeo-heading-3 {
  font-size: 40px;
  @include breakpoint(sm) {} // min width sm
  @include breakpoint(md) {} // min width md
  @include breakpoint(lg) {} // min width lg
  @include breakpoint(xl) {} // min width xl
  @include breakpoint(xxl) {} // min width xxl
}

@mixin vimeo-heading-4 {
  font-size: 30px;
  @include breakpoint(sm) {} // min width sm
  @include breakpoint(md) {} // min width md
  @include breakpoint(lg) {} // min width lg
  @include breakpoint(xl) {} // min width xl
  @include breakpoint(xxl) {} // min width xxl
}

@mixin vimeo-heading-5 {
  font-size: 20px;
  @include breakpoint(sm) {} // min width sm
  @include breakpoint(md) {} // min width md
  @include breakpoint(lg) {} // min width lg
  @include breakpoint(xl) {} // min width xl
  @include breakpoint(xxl) {} // min width xxl
}
