.packages-parent {

  border-top: 1px solid #CCC !important;

  .head.primary {
    @include vimeo-heading;
    @include vimeo-heading-4;
    color: $theme-black !important;
    text-align: center;
    a {
      color: inherit !important;
    }
  }

  .browse-item-title,
  .browse-item-subtext {
    @include body-copy;
  }

  .browse-item-title {
    color: $theme-black !important;
    font-weight: bold !important;
    font-size: 14px !important;
    a {
      color: inherit !important;
    }
  }

  .browse-item-subtext {
    color: #959595 !important;
    font-size: 12px !important;
  }

  .row {
    a.btn {
      @include vimeo-button-rectangle-outline;
    }
  }

}
