.search {

  #search-content {
    *,
    [name="q"] {
      color: $theme-black;
    }
    a.js-load-more-link {
      color: $theme-white;
    }
  }

  [data-overlay-search-container] {
    border: 1px solid green !important;
    #search-results {
      border: 1px solid red;
    }
  }

}

.js-search-container {
  .js-collection-item {
    .browse-item-title {
      color: $theme-white !important;
    }
  }
}

