body.settings {

  .settings-switch-list {
    a {
      transition: color 280ms;
      color: $theme-black;
      &:hover {
        color: rgba( $theme-black, 0.33 );
      }
    }
  }

  .site-settings {
    &-info-panel,
    &-emails-panel,
    &-billing-panel,
    &-purchases-panel {
      form {
        label {
          color: $theme-black;
        }
      }
      .head.secondary  {
        color: $theme-black !important;
      }
      .site-font-primary-color {
        color: $theme-black !important;
      }
    }
  }

}
