#subscription-options {

  background: $theme-white;
  color: $theme-black;
  text-align: center;

  h1, h3 {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    @include vimeo-heading-4;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 20px;
  }

  h3 {
    @include vimeo-body-copy;
    max-width: 650px;
  }

  a.btn {
    @include vimeo-button-circle;
    @include vimeo-button-circle-black;
  }

  .ambiance {
    display: none;
  }

  .signup.border-top {
    border-top: none !important;
    padding-top: 0 !important;
    margin-bottom: 110px;
  }

  .small-centered.columns {
    padding: 0;
    p {
      display: none;
    }
  }

}
