#text-promotions {

  background: $theme-white;
  color: $theme-black;

  .ambiance {
    display: none;
  }

  .fadeout-overlay {
    display: none;
  }

  .features {
    h1, h2, h3, h4, h5, h6 {
      @include vimeo-heading-5;
      text-transform: none;
    }
    p, li {
      @include vimeo-body-copy;
    }
  }

}
