body.videos {

  #watch-info {

    .border-bottom {
      border-bottom-color: #CCCCCC !important;
    }

    .collection-title,
    .video-title,
    .text {
      @include vimeo-body-copy;
    }

    .collection-title,
    .video-title {
      font-size: 26px !important;
      font-weight: bold !important;
      color: $theme-black !important;
      margin: 10px 0 0 0 !important;
      & > * {
        color: inherit !important;
      }
    }

    .text {
      color: #666666 !important;
      font-size: 16px !important;
      & > * {
        color: inherit !important;
        font-size: inherit !important;
      }
      p {
        line-height: 1.8 !important;
      }
    }

    .row {
      .head.secondary {
        @include vimeo-heading;
        @include vimeo-heading-5;
        text-transform: none !important;
        color: $theme-black !important;
        text-align: left !important;
        font-weight: 100 !important;
        margin: 24px 0 40px 12px !important;
        & > * {
          font-size: inherit !important;
          color: inherit !important;
          text-transform: inherit !important;
          font-weight: inherit !important;
        }
      }
    }

    h5.margin-top-large.padding-bottom-medium.text-center.border-bottom.site-border-color.site-font-secondary-color {
      color: #666666 !important;
      font-size: 16px;
      font-weight: normal;
    }

  }

}
